## READ IN ALL FILES

In [1]:
# IMPORT DEPENDENCIES
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import datetime

In [2]:
# SET PATHS TO DATA
path_data1 = 'datasets/original_data/AusDetailedSupUse.csv'
path_data2 = 'datasets/original_data/AusEnergyIndicators.csv'
path_data3 = 'datasets/original_data/AusEnergyStocks.csv'
path_data4 = 'datasets/original_data/AusGrossPhysicalSupUse.csv'
path_data5 = 'datasets/original_data/DetailedSup.csv'
path_data6 = 'datasets/original_data/EmploymentStateGenderContract.csv'
path_data7 = 'datasets/original_data/NetSup20172018.csv'

In [3]:
# READ IN CSV FILES
detailed_supply1 = pd.read_csv(path_data1)

In [4]:
energy_indicators2 = pd.read_csv(path_data2)

In [5]:
energy_stocks3 = pd.read_csv(path_data3)

In [6]:
gross_physup4 = pd.read_csv(path_data4)

In [7]:
detailed_sup5 = pd.read_csv(path_data5)

In [8]:
gender6 = pd.read_csv(path_data6, low_memory=False)

## CLEANING CSV 1 -> AusDetailedSupUse.csv

In [9]:
detailed_supply1.head(10)

,"46040DO0004 Energy Account, Australia, 2017-18",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Released at 11.30am (Canberra time) 11 Decembe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table 4.1 Detailed gross physical supply and u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Supply or Use,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,2003-04,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
5,Supply,Natural input,Black coal,Flows from the environment,NaN,NaN,NaN,PJ,"7,287","7,535",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
6,Supply,Natural input,Brown coal,Flows from the environment,NaN,NaN,NaN,PJ,732,727,...,752,759,737,745,645,625,678,635,584,473
7,Supply,Natural input,Coke,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-
8,Supply,Natural input,Coal by-products,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-
9,Supply,Natural input,Briquettes,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-

Delete irrelevant columns and columns

In [10]:
detailed_supply1 = detailed_supply1.drop(detailed_supply1.index[[0,1,2,3,4]])
detailed_supply1.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

,index,"46040DO0004 Energy Account, Australia, 2017-18",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,5,Supply,Natural input,Black coal,Flows from the environment,NaN,NaN,NaN,PJ,"7,287",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
1,6,Supply,Natural input,Brown coal,Flows from the environment,NaN,NaN,NaN,PJ,732,...,752,759,737,745,645,625,678,635,584,473
2,7,Supply,Natural input,Coke,Flows from the environment,NaN,NaN,NaN,PJ,-,...,-,-,-,-,-,-,-,-,-,-
3,8,Supply,Natural input,Coal by-products,Flows from the environment,NaN,NaN,NaN,PJ,-,...,-,-,-,-,-,-,-,-,-,-
4,9,Supply,Natural input,Briquettes,Flows from the environment,NaN,NaN,NaN,PJ,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3121,3126,- nil or rounded to zero (including null cells),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3122,3127,np not available for publication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123,3128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3124,3129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3125,3130,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
detailed_supply1 = detailed_supply1.rename(columns={
    "Australian Bureau of Statistics":"Supply or Use",
    "Unnamed: 1":"Input",
    "Unnamed: 2":"Commodity",
    "Unnamed: 3":"Measure of Industry division (ANZSIC)",
    "Unnamed: 4":"ANZSIC division code",
    "Unnamed: 5":"Industry subdivision",
    "Unnamed: 6":"ANZSIC subdivision code",
    "Unnamed: 7":"Unit",
    "Unnamed: 8":"2002",
    "Unnamed: 9":"2003",
    "Unnamed: 10":"2004",
    "Unnamed: 11":"2005",
    "Unnamed: 12":"2006",
    "Unnamed: 13":"2007",
    "Unnamed: 14":"2008",
    "Unnamed: 15":"2009",
    "Unnamed: 16":"2010",
    "Unnamed: 17":"2011",
    "Unnamed: 18":"2012",
    "Unnamed: 19":"2013",
    "Unnamed: 20":"2014",
    "Unnamed: 21":"2015",
    "Unnamed: 22":"2016",
    "Unnamed: 23":"2017"
})

In [12]:
detailed_supply1 = detailed_supply1.drop(detailed_supply1.index[[0,3121,3122,3123,3124,3125]])

In [13]:
detailed_supply1 = detailed_supply1.drop(columns=['46040DO0004 Energy Account, Australia, 2017-18','Unit','ANZSIC division code', 'Industry subdivision', 'ANZSIC subdivision code'])

In [14]:
detailed_supply1 = detailed_supply1.replace('np', '-')

In [15]:
detailed_supply1.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [16]:
detailed_supply1 = detailed_supply1.drop(columns=['index'])

In [17]:
detailed_supply1

,Input,Commodity,Measure of Industry division (ANZSIC),2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Natural input,Brown coal,Flows from the environment,732,727,737,745,728,732,752,759,737,745,645,625,678,635,584,473
1,Natural input,Coke,Flows from the environment,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2,Natural input,Coal by-products,Flows from the environment,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,Natural input,Briquettes,Flows from the environment,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
4,Natural input,Natural gas,Flows from the environment,"1,462","1,463","1,638","1,725","1,910","1,977","2,083","2,190","2,398","2,273","2,605","2,691","2,777","3,500","4,233","4,824"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,End Use of Energy Products,Wind energy,Total use,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3116,End Use of Energy Products,Uranium,Total use,"4,311","4,497","5,154","4,710","4,480","4,757","4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
3117,End Use of Energy Products,Residuals,Total use,"1,768","1,775","1,854","1,960","2,041","1,974","2,140","2,074","2,087","1,993","1,944","1,886","1,912","1,947","2,006","1,960"
3118,Total Gross Use,Total,Total use,"37,024","37,491","40,404","39,796","41,512","42,156","43,709","42,578","42,291","43,536","47,366","46,184","47,770","50,417","52,215","53,583"
3119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
detailed_supply1['Input'].unique()

array(['Natural input', 'Production of Energy', 'Natural Input',
       'Transformation of Energy Products', 'End Use of Energy Products',
       'Total Gross Use', nan], dtype=object)

In [19]:
detailed_supply1 = detailed_supply1.replace('Natural input', 'Natural Input')

In [20]:
detailed_supply1['Input'].unique()

array(['Natural Input', 'Production of Energy',
       'Transformation of Energy Products', 'End Use of Energy Products',
       'Total Gross Use', nan], dtype=object)

In [21]:
detailed_supply1 = detailed_supply1.drop(detailed_supply1.index[[3118,3119]])

In [22]:
detailed_supply1

,Input,Commodity,Measure of Industry division (ANZSIC),2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Natural Input,Brown coal,Flows from the environment,732,727,737,745,728,732,752,759,737,745,645,625,678,635,584,473
1,Natural Input,Coke,Flows from the environment,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2,Natural Input,Coal by-products,Flows from the environment,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,Natural Input,Briquettes,Flows from the environment,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
4,Natural Input,Natural gas,Flows from the environment,"1,462","1,463","1,638","1,725","1,910","1,977","2,083","2,190","2,398","2,273","2,605","2,691","2,777","3,500","4,233","4,824"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3113,End Use of Energy Products,Hydro energy,Total use,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3114,End Use of Energy Products,Solar energy,Total use,3,3,3,3,6,7,9,12,17,21,27,29,34,38,42,49
3115,End Use of Energy Products,Wind energy,Total use,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3116,End Use of Energy Products,Uranium,Total use,"4,311","4,497","5,154","4,710","4,480","4,757","4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
3117,End Use of Energy Products,Residuals,Total use,"1,768","1,775","1,854","1,960","2,041","1,974","2,140","2,074","2,087","1,993","1,944","1,886","1,912","1,947","2,006","1,960"

In [23]:
detailed_supply1['Measure of Industry division (ANZSIC)'].unique()

array(['Flows from the environment', 'Total supply',
       'Agriculture, forestry and fishing', 'Mining', 'Manufacturing',
       'Electricity, gas, water and waste services', 'Construction',
       'Wholesale trade', 'Retail trade',
       'Accommodation and food services',
       'Transport, storage and services',
       'Information Media and Telecommunications',
       'Financial and insurance services',
       'Rental, hiring and real estate services',
       'Professional, scientific and technical services',
       'Administrative and support services',
       'Public administration and safety', 'Education and training',
       'Health care and social assistance',
       'Arts and recreation services', 'Other services',
       'Total Industry Production',
       'Of which direct extraction by households', 'Imports',
       'Total use by industry', 'Consumption by households',
       'Consumption by government ', 'Accumulation', 'Exports',
       'Total use', 'Flows to the environment'], dtype=object)

In [24]:
mining_detailed_sup = detailed_supply1[detailed_supply1['Measure of Industry division (ANZSIC)'].str.contains('Mining')]

In [25]:
mining_detailed_sup

,Input,Commodity,Measure of Industry division (ANZSIC),2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
60,Production of Energy,Black coal,Mining,"7,287","7,535","8,055","8,141","8,632","8,651","9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
61,Production of Energy,Brown coal,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
62,Production of Energy,Coke,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
63,Production of Energy,Coal by-products,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
64,Production of Energy,Briquettes,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2411,End Use of Energy Products,Electricity,Mining,28,30,30,38,37,37,43,45,53,54,60,64,65,66,68,70
2412,End Use of Energy Products,Hydro energy,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2413,End Use of Energy Products,Solar energy,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2414,End Use of Energy Products,Wind energy,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2415,End Use of Energy Products,Uranium,Mining,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

In [26]:
mining_detailed_sup = mining_detailed_sup.drop(columns=['Measure of Industry division (ANZSIC)'])

In [27]:
mining_detailed_sup.head(50)

,Input,Commodity,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
60,Production of Energy,Black coal,"7,287","7,535","8,055","8,141","8,632","8,651","9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
61,Production of Energy,Brown coal,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
62,Production of Energy,Coke,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
63,Production of Energy,Coal by-products,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
64,Production of Energy,Briquettes,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
65,Production of Energy,Natural gas,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
66,Production of Energy,LNG,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
67,Production of Energy,Crude oil and feedstocks,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
68,Production of Energy,Petrol,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
69,Production of Energy,Diesel,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
70,Production of Energy,Other refined fuels and products,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
71,Production of Energy,LPG,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
72,Production of Energy,Biofuels,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
73,Production of Energy,Wood and wood waste,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
74,Production of Energy,Bagasse,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
75,Production of Energy,Electricity,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
76,Production of Energy,Hydro energy,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
77,Production of Energy,Solar energy,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
78,Production of Energy,Wind energy,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
79,Production of Energy,Uranium,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
80,Production of Energy,Residuals,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
81,Production of Energy,Black coal,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
82,Production of Energy,Brown coal,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
83,Production of Energy,Coke,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
84,Production of Energy,Coal by-products,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
85,Production of Energy,Briquettes,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
86,Production of Energy,Natural gas,"1,462","1,463","1,638","1,725","1,910","1,977","2,083","2,190","2,398","2,273","2,605","2,691","2,777","3,500","4,233","4,824"
87,Production of Energy,LNG,426,431,576,654,780,744,838,987,"1,102","1,041","1,298","1,284","1,383","2,016","2,855","3,376"
88,Production of Energy,Crude oil and feedstocks,"1,233","1,032",941,860,"1,036",963,"1,093","1,069","1,015",935,838,780,726,701,621,589
89,Production of Energy,Petrol,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
90,Production of Energy,Diesel,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
91,Production of Energy,Other refined fuels and products,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
92,Production of Energy,LPG,126,125,127,130,150,132,134,136,117,118,114,116,99,99,83,82
93,Production of Energy,Biofuels,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
94,Production of Energy,Wood and wood waste,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
95,Production of Energy,Bagasse,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
96,Production of Energy,Electricity,11,12,9,9,12,13,14,17,18,18,10,11,11,22,22,24
97,Production of Energy,Hydro energy,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
98,Production of Energy,Solar energy,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
99,Production of Energy,Wind energy,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
100,Production of Energy,Uranium,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
101,Production of Energy,Residuals,103,106,117,130,151,151,163,159,164,164,180,191,197,237,309,346
102,Production of Energy,Black coal,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
103,Production of Energy,Brown coal,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
104,Production of Energy,Coke,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
105,Production of Energy,Coal by-products,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
106,Production of Energy,Briquettes,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
107,Production of Energy,Natural gas,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
108,Production of Energy,LNG,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
109,Production of Energy,Crude oil and feedstocks,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

In [28]:
mining_detailed_sup.drop(mining_detailed_sup.index[mining_detailed_sup['2002'] == '-'], inplace = True)

In [29]:
mining_detailed_sup.head(20)

,Input,Commodity,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
60,Production of Energy,Black coal,"7,287","7,535","8,055","8,141","8,632","8,651","9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
86,Production of Energy,Natural gas,"1,462","1,463","1,638","1,725","1,910","1,977","2,083","2,190","2,398","2,273","2,605","2,691","2,777","3,500","4,233","4,824"
87,Production of Energy,LNG,426,431,576,654,780,744,838,987,"1,102","1,041","1,298","1,284","1,383","2,016","2,855","3,376"
88,Production of Energy,Crude oil and feedstocks,"1,233","1,032",941,860,"1,036",963,"1,093","1,069","1,015",935,838,780,726,701,621,589
92,Production of Energy,LPG,126,125,127,130,150,132,134,136,117,118,114,116,99,99,83,82
96,Production of Energy,Electricity,11,12,9,9,12,13,14,17,18,18,10,11,11,22,22,24
101,Production of Energy,Residuals,103,106,117,130,151,151,163,159,164,164,180,191,197,237,309,346
117,Production of Energy,Electricity,7,7,9,9,10,12,11,12,12,12,25,28,31,37,36,37
121,Production of Energy,Uranium,"4,311","4,497","5,154","4,710","4,480","4,757","4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
122,Production of Energy,Residuals,2,3,2,2,2,-,9,7,7,7,5,3,-,2,9,6
836,Natural Input,Black coal,"7,287","7,535","8,055","8,141","8,632","8,651","9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
861,Natural Input,Natural gas,"1,462","1,463","1,638","1,725","1,910","1,977","2,083","2,190","2,398","2,273","2,605","2,691","2,777","3,500","4,233","4,824"
863,Natural Input,Crude oil and feedstocks,"1,233","1,032",941,860,"1,036",963,"1,093","1,069","1,015",935,838,780,726,701,621,589
867,Natural Input,LPG,126,125,127,130,150,132,134,136,117,118,114,116,99,99,83,82
895,Natural Input,Uranium,"4,311","4,497","5,154","4,710","4,480","4,757","4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
1621,Transformation of Energy Products,Natural gas,539,547,702,793,942,908,"1,015","1,162","1,283","1,223","1,486","1,484","1,589","2,275","3,186","3,746"
1625,Transformation of Energy Products,Diesel,1,1,1,1,1,1,1,1,1,1,2,2,2,-,-,1
1641,Transformation of Energy Products,Natural gas,3,4,4,4,5,5,5,6,6,6,19,20,20,21,27,30
1645,Transformation of Energy Products,Diesel,6,6,6,6,6,7,7,7,8,8,8,8,8,7,7,7
2365,End Use of Energy Products,Diesel,61,64,68,69,70,74,76,78,83,89,101,103,97,103,112,121

In [30]:
mining_detailed_sup.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [31]:
mining_detailed_sup = mining_detailed_sup.drop(columns=['index'])

In [32]:
mining_detailed_sup = mining_detailed_sup.replace('-', '0')

In [33]:
mining_detailed_sup

,Input,Commodity,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Production of Energy,Black coal,"7,287","7,535","8,055","8,141","8,632","8,651","9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
1,Production of Energy,Natural gas,"1,462","1,463","1,638","1,725","1,910","1,977","2,083","2,190","2,398","2,273","2,605","2,691","2,777","3,500","4,233","4,824"
2,Production of Energy,LNG,426,431,576,654,780,744,838,987,"1,102","1,041","1,298","1,284","1,383","2,016","2,855","3,376"
3,Production of Energy,Crude oil and feedstocks,"1,233","1,032",941,860,"1,036",963,"1,093","1,069","1,015",935,838,780,726,701,621,589
4,Production of Energy,LPG,126,125,127,130,150,132,134,136,117,118,114,116,99,99,83,82
5,Production of Energy,Electricity,11,12,9,9,12,13,14,17,18,18,10,11,11,22,22,24
6,Production of Energy,Residuals,103,106,117,130,151,151,163,159,164,164,180,191,197,237,309,346
7,Production of Energy,Electricity,7,7,9,9,10,12,11,12,12,12,25,28,31,37,36,37
8,Production of Energy,Uranium,"4,311","4,497","5,154","4,710","4,480","4,757","4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
9,Production of Energy,Residuals,2,3,2,2,2,0,9,7,7,7,5,3,0,2,9,6
10,Natural Input,Black coal,"7,287","7,535","8,055","8,141","8,632","8,651","9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
11,Natural Input,Natural gas,"1,462","1,463","1,638","1,725","1,910","1,977","2,083","2,190","2,398","2,273","2,605","2,691","2,777","3,500","4,233","4,824"
12,Natural Input,Crude oil and feedstocks,"1,233","1,032",941,860,"1,036",963,"1,093","1,069","1,015",935,838,780,726,701,621,589
13,Natural Input,LPG,126,125,127,130,150,132,134,136,117,118,114,116,99,99,83,82
14,Natural Input,Uranium,"4,311","4,497","5,154","4,710","4,480","4,757","4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
15,Transformation of Energy Products,Natural gas,539,547,702,793,942,908,"1,015","1,162","1,283","1,223","1,486","1,484","1,589","2,275","3,186","3,746"
16,Transformation of Energy Products,Diesel,1,1,1,1,1,1,1,1,1,1,2,2,2,0,0,1
17,Transformation of Energy Products,Natural gas,3,4,4,4,5,5,5,6,6,6,19,20,20,21,27,30
18,Transformation of Energy Products,Diesel,6,6,6,6,6,7,7,7,8,8,8,8,8,7,7,7
19,End Use of Energy Products,Diesel,61,64,68,69,70,74,76,78,83,89,101,103,97,103,112,121
20,End Use of Energy Products,Electricity,17,18,18,18,19,19,20,19,20,20,22,23,23,23,23,22
21,End Use of Energy Products,Natural gas,13,14,14,12,20,24,31,30,31,35,26,27,28,66,59,59
22,End Use of Energy Products,Crude oil and feedstocks,3,3,3,2,2,2,2,2,2,2,2,2,2,2,2,1
23,End Use of Energy Products,Diesel,8,8,8,9,9,9,9,10,10,11,10,11,9,13,9,8
24,End Use of Energy Products,Electricity,7,7,8,10,11,11,10,11,13,13,13,18,20,31,39,45
25,End Use of Energy Products,Natural gas,7,8,7,6,10,11,13,13,13,18,47,48,48,70,64,63
26,End Use of Energy Products,Diesel,76,79,83,85,86,92,93,96,102,110,115,120,139,145,150,152
27,End Use of Energy Products,Other refined fuels and products,2,2,3,3,3,4,3,4,4,6,7,8,6,0,0,5
28,End Use of Energy Products,LPG,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1
29,End Use of Energy Products,Electricity,28,30,30,38,37,37,43,45,53,54,60,64,65,66,68,70

Export clean dataframe for analysis

In [34]:
mining_detailed_sup.to_csv('datasets/clean_data/mining_detailed_supply.csv', index = False)

## CLEANING CSV 2 -> AusEnergyIndicators.csv

In [35]:
energy_indicators2.head(20)

,"46040DO0001 Energy Account, Australia, 2017-18",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,Released at 11.30am (Canberra time) 11 Decembe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Table 1 Energy indicators, Australia, ending J...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Net energy use index,"GDP, Chain volume series - Index",Degree of self sufficiency,Renewable energy supply of total domestic net ...,Share of renewable energy in net energy inputs,Government use of net domestic energy,Estimated resident population - Australia,Estimated number of households - Australia,Energy use (Net) - per person,...,Remaining resource life - LPG,Remaining resource life - Natural gas,Remaining resource life - Uranium,Extraction rate - Black coal,Extraction rate - Brown coal,Extraction rate - Crude oil,Extraction rate - Condensate,Extraction rate - LPG,Extraction rate - Natural gas,Extraction rate - Uranium
3,Unit,Index,Index,Percent,Percent,Percent,Percent,Persons,Households,GJ,...,Years,Years,Years,Percent,Percent,Percent,Percent,Percent,Percent,Percent
4,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
5,Data Type,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,...,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED
6,Frequency,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,...,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual
7,Collection Month,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
8,Series Start,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,...,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003
9,Series End,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,...,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018,Jun-2018
10,No. Obs,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
11,Data Item,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
12,Jun-2003,100.0,100.0,307.0,8.5,1.7,2.6,"19,720,737.0","7,264,723.0",55.7,...,38.2,71.9,74.1,0.7,0.2,11.9,3.0,2.6,1.4,1.3
13,Jun-2004,101.3,104.1,303.8,8.3,1.6,2.6,"19,932,722.0","7,396,137.0",56.6,...,40.3,61.9,71.7,0.7,0.2,10.1,3.0,2.5,1.6,1.4
14,Jun-2005,109.6,107.4,320.5,8.2,1.5,2.5,"20,176,844.0","7,526,410.0",55.8,...,25.1,64.4,74.6,0.8,0.2,9.3,2.4,4.0,1.6,1.3
15,Jun-2006,108.1,110.4,305.9,8.2,1.6,2.5,"20,450,966.0","7,656,969.0",55.7,...,25.6,58.2,94.1,0.8,0.2,10.0,2.7,3.9,1.7,1.1
16,Jun-2007,112.6,114.6,307.7,8.1,1.5,2.5,"20,827,622.0","7,803,641.0",55.1,...,27.5,50.1,98.7,0.8,0.2,11.9,3.4,3.6,2.0,1.0
17,Jun-2008,115.2,118.8,311.8,7.9,1.5,2.5,"21,249,199.0","7,953,657.0",54.4,...,22.6,58.0,127.7,0.8,0.2,9.7,3.1,4.4,1.7,0.8
18,Jun-2009,119.2,121.1,315.4,6.6,1.2,2.5,"21,691,653.0","8,106,022.0",53.2,...,55.8,79.9,149.1,0.8,0.2,9.9,1.8,1.8,1.3,0.7
19,Jun-2010,116.0,123.6,304.4,7.7,1.5,2.6,"22,031,750.0","8,262,019.0",53.0,...,47.8,71.0,201.8,0.9,0.2,9.3,2.2,2.1,1.4,0.5

In [36]:
energy_indicators2 = energy_indicators2.drop(energy_indicators2.index[[0,1,2,3,4,5,6,7,8,9,10,11]])

In [37]:
energy_indicators2 = energy_indicators2.rename(columns={
    "46040DO0001 Energy Account, Australia, 2017-18":"Date",
    "Unnamed: 1":"Net energy use index",
    "Unnamed: 2":"GDP, Chain volume series - Index",
    "Unnamed: 3":"Degree of self sufficiency",
    "Unnamed: 4":"Renewable energy supply of total domestic net energy use",
    "Unnamed: 5":"Share of renewable energy in net energy inputs",
    "Unnamed: 6":"Government use of net domestic energy",
    "Unnamed: 7":"Estimated resident population - Australia",
    "Unnamed: 8":"Estimated number of households -  Australia",
    "Unnamed: 9":"Energy use (Net) - per person",
    "Unnamed: 10":"Energy use (Net) - per household",
    "Unnamed: 11":"Gas costs - per household",
    "Unnamed: 12":"Petroleum costs - per household",
    "Unnamed: 13":"Electricity costs - per household",
    "Unnamed: 14":"Total energy costs - per household",
    "Unnamed: 15":"Energy extracted (Net) - per household",
    "Unnamed: 16":"Renewable energy extracted by households",
    "Unnamed: 17":"Agriculture (Energy intensity)",
    "Unnamed: 18":"Mining (Energy intensity)",
    "Unnamed: 19":"Manufacturing (Energy intensity)",
    "Unnamed: 20":"Electricity, gas, water supply and waste services (Energy intensity)",
    "Unnamed: 21":"Construction (Energy intensity)",
    "Unnamed: 22":"Transport (Energy intensity)",
    "Unnamed: 23":"Commercial & Services (Energy intensity)",
    "Unnamed: 24":"All selected industries (Energy intensity)",
    "Unnamed: 25":"Black coal (Remaining resource life)",
    "Unnamed: 26":"Brown coal (Remaining resource life)",
    "Unnamed: 27":"Crude oil (Remaining resource life)",
    "Unnamed: 28":"Condensate (Remaining resource life)",
    "Unnamed: 29":"LPG (Remaining resource life)",
    "Unnamed: 30":"Natural gas (Remaining resource life)",
    "Unnamed: 31":"Uranium (remaining resource life)",
    "Unnamed: 32":"Black coal (Extraction rate)",
    "Unnamed: 33":"Brown coal (Extraction rate)",
    "Unnamed: 34":"Crude oil (Extraction rate)",
    "Unnamed: 35":"Condensate (Extraction rate)",
    "Unnamed: 36":"LPG (Extraction rate)",
    "Unnamed: 37":"Natural gas (Extraction rate)",
    "Unnamed: 38":"Uranium (Extraction rate)",
})

In [38]:
energy_indicators2.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')
energy_indicators2.tail(30)

,index,Date,Net energy use index,"GDP, Chain volume series - Index",Degree of self sufficiency,Renewable energy supply of total domestic net energy use,Share of renewable energy in net energy inputs,Government use of net domestic energy,Estimated resident population - Australia,Estimated number of households - Australia,...,LPG (Remaining resource life),Natural gas (Remaining resource life),Uranium (remaining resource life),Black coal (Extraction rate),Brown coal (Extraction rate),Crude oil (Extraction rate),Condensate (Extraction rate),LPG (Extraction rate),Natural gas (Extraction rate),Uranium (Extraction rate)
0,12,Jun-2003,100.0,100.0,307.0,8.5,1.7,2.6,"19,720,737.0","7,264,723.0",...,38.2,71.9,74.1,0.7,0.2,11.9,3.0,2.6,1.4,1.3
1,13,Jun-2004,101.3,104.1,303.8,8.3,1.6,2.6,"19,932,722.0","7,396,137.0",...,40.3,61.9,71.7,0.7,0.2,10.1,3.0,2.5,1.6,1.4
2,14,Jun-2005,109.6,107.4,320.5,8.2,1.5,2.5,"20,176,844.0","7,526,410.0",...,25.1,64.4,74.6,0.8,0.2,9.3,2.4,4.0,1.6,1.3
3,15,Jun-2006,108.1,110.4,305.9,8.2,1.6,2.5,"20,450,966.0","7,656,969.0",...,25.6,58.2,94.1,0.8,0.2,10.0,2.7,3.9,1.7,1.1
4,16,Jun-2007,112.6,114.6,307.7,8.1,1.5,2.5,"20,827,622.0","7,803,641.0",...,27.5,50.1,98.7,0.8,0.2,11.9,3.4,3.6,2.0,1.0
5,17,Jun-2008,115.2,118.8,311.8,7.9,1.5,2.5,"21,249,199.0","7,953,657.0",...,22.6,58.0,127.7,0.8,0.2,9.7,3.1,4.4,1.7,0.8
6,18,Jun-2009,119.2,121.1,315.4,6.6,1.2,2.5,"21,691,653.0","8,106,022.0",...,55.8,79.9,149.1,0.8,0.2,9.9,1.8,1.8,1.3,0.7
7,19,Jun-2010,116.0,123.6,304.4,7.7,1.5,2.6,"22,031,750.0","8,262,019.0",...,47.8,71.0,201.8,0.9,0.2,9.3,2.2,2.1,1.4,0.5
8,20,Jun-2011,114.8,126.7,293.9,7.8,1.5,2.6,"22,340,024.0","8,419,972.0",...,52.1,61.8,199.2,0.7,0.2,10.0,2.1,1.9,1.6,0.5
9,21,Jun-2012,119.0,131.6,306.2,7.6,1.5,2.6,"22,733,465.0","8,576,293.0",...,51.6,62.6,169.1,0.6,0.2,9.3,1.9,1.9,1.6,0.6
10,22,Jun-2013,130.2,135.0,334.6,8.5,1.5,2.6,"23,128,129.0","8,737,962.0",...,54.0,49.0,182.9,0.6,0.1,6.8,2.1,1.9,2.0,0.5
11,23,Jun-2014,127.2,138.5,327.6,8.7,1.6,2.7,"23,475,686.0","8,902,436.0",...,46.9,52.0,231.8,0.7,0.1,6.2,2.1,2.1,1.9,0.4
12,24,Jun-2015,132.0,141.5,340.0,8.8,1.6,2.7,"23,815,995.0","9,072,188.0",...,46.6,56.8,217.7,0.7,0.1,9.3,2.1,2.1,1.8,0.5
13,25,Jun-2016,138.6,145.4,350.2,8.8,1.6,2.7,"24,190,907.0","9,204,635.0",...,50.5,55.2,202.9,0.6,0.1,8.8,2.1,2.0,1.8,0.5
14,26,Jun-2017,141.4,148.9,352.5,9.2,1.6,2.7,"24,601,860.0","9,345,350.0",...,52.9,29.5,175.3,0.6,0.1,7.0,2.2,1.9,3.4,0.6
15,27,Jun-2018,144.4,153.2,355.8,9.1,1.6,2.7,"24,992,747.0","9,495,177.0",...,64.8,26.7,197.4,0.5,0.1,6.4,2.2,1.5,3.7,0.5
16,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,29,na not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,32,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
energy_indicators2 = energy_indicators2.drop(columns=['index'])

In [40]:
energy_indicators2 = energy_indicators2.drop(energy_indicators2.index[[16,17,18,19,20]])

In [41]:
energy_indicators2 = energy_indicators2.replace('Jun-2003', '2003')
energy_indicators2 = energy_indicators2.replace('Jun-2004', '2004')
energy_indicators2 = energy_indicators2.replace('Jun-2005', '2005')
energy_indicators2 = energy_indicators2.replace('Jun-2006', '2005')
energy_indicators2 = energy_indicators2.replace('Jun-2007', '2007')
energy_indicators2 = energy_indicators2.replace('Jun-2008', '2008')
energy_indicators2 = energy_indicators2.replace('Jun-2009', '2009')
energy_indicators2 = energy_indicators2.replace('Jun-2010', '2010')
energy_indicators2 = energy_indicators2.replace('Jun-2011', '2011')
energy_indicators2 = energy_indicators2.replace('Jun-2012', '2012')
energy_indicators2 = energy_indicators2.replace('Jun-2013', '2013')
energy_indicators2 = energy_indicators2.replace('Jun-2014', '2014')
energy_indicators2 = energy_indicators2.replace('Jun-2015', '2015')
energy_indicators2 = energy_indicators2.replace('Jun-2016', '2016')
energy_indicators2 = energy_indicators2.replace('Jun-2017', '2017')
energy_indicators2 = energy_indicators2.replace('Jun-2018', '2018')

In [42]:
energy_indicators2 = energy_indicators2.drop(columns=["Agriculture (Energy intensity)","Manufacturing (Energy intensity)","Electricity, gas, water supply and waste services (Energy intensity)","Mining (Energy intensity)","Construction (Energy intensity)","Transport (Energy intensity)","Commercial & Services (Energy intensity)","All selected industries (Energy intensity)","Black coal (Remaining resource life)","Brown coal (Remaining resource life)","Crude oil (Remaining resource life)","Condensate (Remaining resource life)","LPG (Remaining resource life)","Natural gas (Remaining resource life)","Uranium (remaining resource life)","Black coal (Extraction rate)","Brown coal (Extraction rate)","Crude oil (Extraction rate)","Condensate (Extraction rate)","LPG (Extraction rate)","Natural gas (Extraction rate)","Uranium (Extraction rate)"])

In [43]:
energy_indicators2 = energy_indicators2.replace('na', '0')

In [44]:
energy_indicators2

,Date,Net energy use index,"GDP, Chain volume series - Index",Degree of self sufficiency,Renewable energy supply of total domestic net energy use,Share of renewable energy in net energy inputs,Government use of net domestic energy,Estimated resident population - Australia,Estimated number of households - Australia,Energy use (Net) - per person,Energy use (Net) - per household,Gas costs - per household,Petroleum costs - per household,Electricity costs - per household,Total energy costs - per household,Energy extracted (Net) - per household,Renewable energy extracted by households
0,2003,100.0,100.0,307.0,8.5,1.7,2.6,"19,720,737.0","7,264,723.0",55.7,151.3,0,0,0,0,6.3,45.9
1,2004,101.3,104.1,303.8,8.3,1.6,2.6,"19,932,722.0","7,396,137.0",56.6,152.6,0,0,0,0,6.0,44.2
2,2005,109.6,107.4,320.5,8.2,1.5,2.5,"20,176,844.0","7,526,410.0",55.8,149.7,0,0,0,0,5.7,42.7
3,2005,108.1,110.4,305.9,8.2,1.6,2.5,"20,450,966.0","7,656,969.0",55.7,148.7,0,0,0,0,5.4,41.2
4,2007,112.6,114.6,307.7,8.1,1.5,2.5,"20,827,622.0","7,803,641.0",55.1,147.1,0,0,0,0,5.6,43.5
5,2008,115.2,118.8,311.8,7.9,1.5,2.5,"21,249,199.0","7,953,657.0",54.4,145.4,0,0,0,0,5.4,42.8
6,2009,119.2,121.1,315.4,6.6,1.2,2.5,"21,691,653.0","8,106,022.0",53.2,142.5,463.6,"2,483.8","1,176.0","4,123.5",5.3,43.0
7,2010,116.0,123.6,304.4,7.7,1.5,2.6,"22,031,750.0","8,262,019.0",53.0,141.3,505.1,"2,374.2","1,309.6","4,188.9",5.4,44.6
8,2011,114.8,126.7,293.9,7.8,1.5,2.6,"22,340,024.0","8,419,972.0",53.7,142.4,576.4,"2,679.7","1,415.1","4,671.2",5.7,48.1
9,2012,119.0,131.6,306.2,7.6,1.5,2.6,"22,733,465.0","8,576,293.0",53.1,140.6,639.2,"2,770.3","1,523.7","4,933.3",6.1,52.5
10,2013,130.2,135.0,334.6,8.5,1.5,2.6,"23,128,129.0","8,737,962.0",52.9,139.9,722.3,"2,754.2","1,639.4","5,115.8",6.6,57.9
11,2014,127.2,138.5,327.6,8.7,1.6,2.7,"23,475,686.0","8,902,436.0",52.2,137.7,775.2,"2,924.5","1,657.7","5,357.4",6.7,59.4
12,2015,132.0,141.5,340.0,8.8,1.6,2.7,"23,815,995.0","9,072,188.0",52.6,138.1,820.6,"2,573.5","1,548.7","4,942.8",7.1,64.7
13,2016,138.6,145.4,350.2,8.8,1.6,2.7,"24,190,907.0","9,204,635.0",51.4,135.1,848.6,"2,291.2","1,541.2","4,681.0",7.3,67.1
14,2017,141.4,148.9,352.5,9.2,1.6,2.7,"24,601,860.0","9,345,350.0",51.5,135.6,882.0,"2,303.7","1,666.5","4,852.3",7.6,71.4
15,2018,144.4,153.2,355.8,9.1,1.6,2.7,"24,992,747.0","9,495,177.0",51.4,135.3,921.5,"2,519.9","1,827.1","5,268.6",8.2,77.7

In [45]:
energy_indicators2.to_csv('datasets/clean_data/energy_indicators.csv', index = False)

## CLEANING CSV 3 -> AusEnergyStocks.csv

In [46]:
energy_stocks3

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"46040DO0002 Energy Account, Australia, 2017-18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) 11 Decembe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 2.1 Stock and net present value of energ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Measure,Unit,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
5,Black coal (a),Gt,39,39,40,39,39,39,42,43,50,59,62,62,65,70,79,91,99
6,Black coal (a),PJ,"1,053,000","1,063,800","1,074,600","1,063,800","1,061,100","1,055,700","1,120,500","1,155,600","1,341,900","1,601,100","1,663,200","1,676,700","1,760,400","1,879,200","2,138,400","2,454,300","2,659,500"
7,Black coal,$m,"3,912","4,785","9,593","13,318","12,911","38,971","74,742","88,107","73,546","59,404","17,450","2,923","3,070","2,670",744,960,811
8,Brown coal (a),Gt,38,38,38,37,37,37,37,38,42,44,44,44,60,77,77,77,77
9,Brown coal (a),PJ,"368,480","367,500","367,500","366,520","365,540","365,540","364,560","374,360","408,660","433,160","433,160","433,160","590,940","749,700","749,700","749,700","749,700"
10,Brown coal,$m,573,600,450,555,979,"1,495","1,159",311,225,214,282,332,187,260,335,385,385
11,Crude oil (a),GL,190,181,179,167,161,175,179,162,146,142,145,140,135,131,128,126,123
12,Crude oil (a),PJ,"7,045","6,682","6,634","6,172","5,957","6,460","6,608","5,979","5,409","5,265","5,347","5,173","4,984","4,851","4,751","4,658","4,533"
13,Crude oil,$m,"25,516","29,029","33,028","37,485","40,001","56,124","61,033","57,350","51,323","49,144","40,903","38,310","33,021","26,577","20,476","17,699","13,420"
14,Condensate (a),GL,265,245,237,235,222,274,331,330,322,308,290,291,316,327,329,334,344
15,Condensate (a),PJ,"9,820","9,065","8,762","8,684","8,229","10,138","12,236","12,217","11,903","11,407","10,726","10,782","11,685","12,110","12,177","12,365","12,739"
16,Condensate,$m,"17,488","21,732","23,558","27,209","29,823","37,733","37,121","37,699","38,069","37,711","33,459","35,572","33,227","26,596","20,381","17,362","15,705"
17,LPG (a),GL,271,230,200,200,190,174,162,153,146,144,146,150,154,157,159,162,165
18,LPG (a),PJ,"7,182","6,090","5,311","5,297","5,032","4,606","4,290","4,049","3,869","3,827","3,866","3,978","4,078","4,150","4,208","4,290","4,380"
19,LPG,$m,"8,119","8,629","8,823","9,021","9,950","11,262","12,435","12,247","11,393","10,400","7,573","7,485","6,848","5,072","3,660","2,382",821
20,Natural gas (a) (b),Bcm,"2,553","2,450","2,401","2,394","2,364","2,715","3,027","2,916","2,804","2,644","2,431","2,608","2,959","3,023","3,092","3,214","3,418"
21,Natural gas (a) (b),PJ,"99,117","95,137","93,215","92,943","91,794","105,420","117,523","113,236","108,875","102,651","94,376","101,273","114,886","117,364","120,078","124,792","132,725"
22,Natural gas (b),$m,"19,881","24,754","31,121","42,190","45,346","64,453","68,324","77,059","88,510","108,406","114,445","151,502","162,491","161,345","179,574","199,506","227,550"
23,Uranium (a),kt U,682,688,709,715,849,"1,073","1,193","1,191","1,176","1,184","1,171","1,159","1,219","1,279","1,280","1,303","1,333"
24,Uranium (a),PJ,"381,920","385,280","396,760","400,400","475,160","600,880","668,080","666,680","658,280","662,760","655,480","649,040","682,640","715,960","716,800","729,680","746,368"
25,Uranium,$m,49,34,32,93,431,174,270,172,399,182,384,226,257,158,489,909,900
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,(a) Equal to Economic Demonstrated Resources.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,(b) Excludes shale gas and coal seam gas.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
energy_stocks3 = energy_stocks3.drop(energy_stocks3.index[[0,1,2,3,26,27,28,29,30,31]])

In [48]:
energy_stocks3 = energy_stocks3.rename(columns={
    "Australian Bureau of Statistics":"Commodity",
    "Unnamed: 1":"Unit",
    "Unnamed: 2":"2002",
    "Unnamed: 3":"2003",
    "Unnamed: 4":"2004",
    "Unnamed: 5":"2005",
    "Unnamed: 6":"2006",
    "Unnamed: 7":"2007",
    "Unnamed: 8":"2008",
    "Unnamed: 9":"2009",
    "Unnamed: 10":"2010",
    "Unnamed: 11":"2011",
    "Unnamed: 12":"2012",
    "Unnamed: 13":"2013",
    "Unnamed: 14":"2014",
    "Unnamed: 15":"2015",
    "Unnamed: 16":"2016",
    "Unnamed: 17":"2017",
    "Unnamed: 18":"2018"
})

In [49]:
energy_stocks3 = energy_stocks3.drop(energy_stocks3.index[[0]])
energy_stocks3.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')
energy_stocks3 = energy_stocks3.drop(columns=['index'])

In [50]:
energy_stocks3 = energy_stocks3.drop(energy_stocks3.index[[0,3,6,9,12,15,18]])
energy_stocks3.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')
energy_stocks3 = energy_stocks3.drop(columns=['index'])

In [51]:
energy_stocks3 = energy_stocks3.replace('Black coal (a)', 'Black Coal')
energy_stocks3 = energy_stocks3.replace('Brown coal (a)', 'Brown Coal')
energy_stocks3 = energy_stocks3.replace('Crude oil (a)', 'Black Oil')
energy_stocks3 = energy_stocks3.replace('Condensate (a)', 'Condensate')
energy_stocks3 = energy_stocks3.replace('LPG (a)', 'LPG')
energy_stocks3 = energy_stocks3.replace('Natural gas (a) (b)', 'Natural Gas')
energy_stocks3 = energy_stocks3.replace('Natural gas (a)', 'Natural Gas')
energy_stocks3 = energy_stocks3.replace('Uranium (a)', 'Uranium')

In [52]:
energy_stocks3

,Commodity,Unit,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Black Coal,PJ,"1,053,000","1,063,800","1,074,600","1,063,800","1,061,100","1,055,700","1,120,500","1,155,600","1,341,900","1,601,100","1,663,200","1,676,700","1,760,400","1,879,200","2,138,400","2,454,300","2,659,500"
1,Black coal,$m,"3,912","4,785","9,593","13,318","12,911","38,971","74,742","88,107","73,546","59,404","17,450","2,923","3,070","2,670",744,960,811
2,Brown Coal,PJ,"368,480","367,500","367,500","366,520","365,540","365,540","364,560","374,360","408,660","433,160","433,160","433,160","590,940","749,700","749,700","749,700","749,700"
3,Brown coal,$m,573,600,450,555,979,"1,495","1,159",311,225,214,282,332,187,260,335,385,385
4,Black Oil,PJ,"7,045","6,682","6,634","6,172","5,957","6,460","6,608","5,979","5,409","5,265","5,347","5,173","4,984","4,851","4,751","4,658","4,533"
5,Crude oil,$m,"25,516","29,029","33,028","37,485","40,001","56,124","61,033","57,350","51,323","49,144","40,903","38,310","33,021","26,577","20,476","17,699","13,420"
6,Condensate,PJ,"9,820","9,065","8,762","8,684","8,229","10,138","12,236","12,217","11,903","11,407","10,726","10,782","11,685","12,110","12,177","12,365","12,739"
7,Condensate,$m,"17,488","21,732","23,558","27,209","29,823","37,733","37,121","37,699","38,069","37,711","33,459","35,572","33,227","26,596","20,381","17,362","15,705"
8,LPG,PJ,"7,182","6,090","5,311","5,297","5,032","4,606","4,290","4,049","3,869","3,827","3,866","3,978","4,078","4,150","4,208","4,290","4,380"
9,LPG,$m,"8,119","8,629","8,823","9,021","9,950","11,262","12,435","12,247","11,393","10,400","7,573","7,485","6,848","5,072","3,660","2,382",821
10,Natural Gas,PJ,"99,117","95,137","93,215","92,943","91,794","105,420","117,523","113,236","108,875","102,651","94,376","101,273","114,886","117,364","120,078","124,792","132,725"
11,Natural gas (b),$m,"19,881","24,754","31,121","42,190","45,346","64,453","68,324","77,059","88,510","108,406","114,445","151,502","162,491","161,345","179,574","199,506","227,550"
12,Uranium,PJ,"381,920","385,280","396,760","400,400","475,160","600,880","668,080","666,680","658,280","662,760","655,480","649,040","682,640","715,960","716,800","729,680","746,368"
13,Uranium,$m,49,34,32,93,431,174,270,172,399,182,384,226,257,158,489,909,900

In [53]:
energy_stocks3.to_csv('datasets/clean_data/energy_stocks.csv', index = False)

## CLEANING CSV 4 -> AusGrossPhysicalSupUse.csv

In [54]:
gross_physup4.tail(15)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
119,Wind energy,-,-,-,-,-,-,-,-,-,-,-,-,NaN,-
120,Uranium,-,-,-,-,-,-,-,-,-,-,-688,"3,815",NaN,"3,127"
121,Energy residuals,..,..,..,..,..,..,..,..,..,..,..,..,"1,960","1,960"
122,Total use (gross),190,"25,332","2,663","2,965",141,677,338,"32,307","1,285",115,-579,"18,609","1,960","53,583"
123,Total use (net),117,550,946,142,135,677,337,"2,904","1,285",115,-579,"18,609","1,960","24,180"
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,null by definition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,.. not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,- nil or rounded to zero (including null cells),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,np not available for publication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,(a) Commercial and Services industry includes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
gross_physup4 = gross_physup4.drop(gross_physup4.index[[0,1,2,3,4,5,6,124,125,126,127,128,129,130,131,132,133]])

In [56]:
gross_physup4 = gross_physup4.drop(columns=['Unnamed: 6','Unnamed: 8','Unnamed: 9', 'Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'])

In [57]:
gross_physup4 = gross_physup4.rename(columns={
    "Australian Bureau of Statistics":"Commodity",
    "Unnamed: 1":"Agriculture, forestry and fishing",
    "Unnamed: 2":"Mining",
    "Unnamed: 3":"Manufacturing",
    "Unnamed: 4":"Electricity, gas, water and waste services",
    "Unnamed: 5":"Construction",
#     "Unnamed: 6":"Transport, storage and services",
    "Unnamed: 7":"Commercial and Services",
#     "Unnamed: 8":"Total industries"
})

In [58]:
gross_physup4 = gross_physup4.drop(gross_physup4.index[[0]])

In [59]:
gross_physup4 = gross_physup4.replace('-', '0')

In [60]:
gross_physup4 = gross_physup4.replace('np', '0')

In [61]:
gross_physup4.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [62]:
gross_physup4.head(60)

,index,Commodity,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services
0,8,Natural inputs,NaN,NaN,NaN,NaN,NaN,NaN
1,9,Black coal,NaN,NaN,NaN,NaN,NaN,NaN
2,10,Brown coal,NaN,NaN,NaN,NaN,NaN,NaN
3,11,Met Coke,NaN,NaN,NaN,NaN,NaN,NaN
4,12,Coal by-products,NaN,NaN,NaN,NaN,NaN,NaN
5,13,Briquettes,NaN,NaN,NaN,NaN,NaN,NaN
6,14,Natural gas,NaN,NaN,NaN,NaN,NaN,NaN
7,15,LNG,NaN,NaN,NaN,NaN,NaN,NaN
8,16,Crude oil and feedstocks,NaN,NaN,NaN,NaN,NaN,NaN
9,17,Petrol,NaN,NaN,NaN,NaN,NaN,NaN
10,18,Diesel,NaN,NaN,NaN,NaN,NaN,NaN
11,19,Other refined fuels and products,NaN,NaN,NaN,NaN,NaN,NaN
12,20,LPG,NaN,NaN,NaN,NaN,NaN,NaN
13,21,Biofuels,NaN,NaN,NaN,NaN,NaN,NaN
14,22,Wood and wood waste,NaN,NaN,NaN,NaN,NaN,NaN
15,23,Bagasse,NaN,NaN,NaN,NaN,NaN,NaN
16,24,Electricity,NaN,NaN,NaN,NaN,NaN,NaN
17,25,Hydro energy,NaN,NaN,NaN,NaN,NaN,NaN
18,26,Solar energy,NaN,NaN,NaN,NaN,NaN,NaN
19,27,Wind energy,NaN,NaN,NaN,NaN,NaN,NaN
20,28,Uranium,NaN,NaN,NaN,NaN,NaN,NaN
21,29,Production of energy products,NaN,NaN,NaN,NaN,NaN,NaN
22,30,Black coal,0,"12,370",0,0,0,0
23,31,Brown coal,0,0,0,473,0,0
24,32,Met Coke,0,0,68,0,0,0
25,33,Coal by-products,0,0,44,0,0,0
26,34,Briquettes,0,0,0,0,0,0
27,35,Natural gas,0,"4,824",0,0,0,0
28,36,LNG,0,"3,376",0,0,0,0
29,37,Crude oil and feedstocks,0,589,0,0,0,0
30,38,Petrol,0,0,390,0,0,0
31,39,Diesel,0,0,355,0,0,0
32,40,Other refined fuels and products,0,0,399,0,0,0
33,41,LPG,0,82,30,0,0,0
34,42,Biofuels,0,0,11,13,0,0
35,43,Wood and wood waste,73,0,21,0,0,0
36,44,Bagasse,0,0,100,0,0,0
37,45,Electricity,0,61,24,838,4,1
38,46,Hydro energy,0,0,0,58,0,0
39,47,Solar energy,0,0,0,52,0,0
40,48,Wind energy,0,0,0,55,0,0
41,49,Uranium,0,"3,127",0,0,0,0
42,50,Energy residuals,0,352,272,"1,336",1,0
43,51,Total supply (gross),73,"24,782","1,715","2,823",5,1
44,52,Total supply (net),..,..,..,..,..,..
45,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,54,Physical Use,NaN,NaN,NaN,NaN,NaN,NaN
47,55,NaN,Production (incl. Household own account) & gen...,NaN,NaN,NaN,NaN,NaN
48,56,NaN,Industries (ANZSIC),NaN,NaN,NaN,NaN,NaN
49,57,Input or product,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services (a)
50,58,Energy from natural inputs,NaN,NaN,NaN,NaN,NaN,NaN
51,59,Black coal,0,"12,370",0,0,0,0
52,60,Brown coal,0,0,0,473,0,0
53,61,Met Coke,0,0,0,0,0,0
54,62,Coal by-products,0,0,0,0,0,0
55,63,Briquettes,0,0,0,0,0,0
56,64,Natural gas,0,"4,824",0,0,0,0
57,65,LNG,0,0,0,0,0,0
58,66,Crude oil and feedstocks,0,589,0,0,0,0
59,67,Petrol,0,0,0,0,0,0

In [63]:
gross_physup4 = gross_physup4.drop(gross_physup4.index[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,42,43,44,45,46,47,48]])

In [64]:
gross_physup4.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [65]:
gross_physup4.tail(50)

,level_0,index,Commodity,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services
38,66,74,Electricity,0,0,0,0,0,0
39,67,75,Hydro energy,0,0,0,58,0,0
40,68,76,Solar energy,0,0,0,52,0,0
41,69,77,Wind energy,0,0,0,55,0,0
42,70,78,Uranium,0,"3,127",0,0,0,0
43,71,79,Transformation of energy products,NaN,NaN,NaN,NaN,NaN,NaN
44,72,80,Black coal,0,4,115,"1,164",0,0
45,73,81,Brown coal,0,0,0,473,0,0
46,74,82,Met Coke,0,0,0,0,0,0
47,75,83,Coal by-products,0,0,0,0,0,0
48,76,84,Briquettes,0,0,0,0,0,0
49,77,85,Natural gas,0,"3,776",35,358,4,0
50,78,86,LNG,0,0,0,0,0,0
51,79,87,Crude oil and feedstocks,0,0,"1,081",0,0,0
52,80,88,Petrol,0,0,0,0,0,0
53,81,89,Diesel,0,8,3,10,1,0
54,82,90,Other refined fuels and products,0,0,144,3,1,0
55,83,91,LPG,0,0,0,0,0,0
56,84,92,Biofuels,0,0,0,15,0,0
57,85,93,Wood and wood waste,0,0,0,17,0,0
58,86,94,Bagasse,0,0,84,17,0,0
59,87,95,Electricity,0,0,0,0,0,0
60,88,96,Hydro energy,0,0,0,57,0,0
61,89,97,Solar energy,0,0,0,3,0,0
62,90,98,Wind energy,0,0,0,55,0,0
63,91,99,Uranium,0,0,0,0,0,0
64,92,100,End use of energy products,NaN,NaN,NaN,NaN,NaN,NaN
65,93,101,Black coal,0,0,105,0,0,0
66,94,102,Brown coal,0,0,0,0,0,0
67,95,103,Met Coke,0,0,0,0,0,0
68,96,104,Coal by-products,0,0,0,0,0,0
69,97,105,Briquettes,0,0,0,0,0,0
70,98,106,Natural gas,1,122,383,7,0,67
71,99,107,LNG,0,0,0,0,0,0
72,100,108,Crude oil and feedstocks,0,1,51,1,0,0
73,101,109,Petrol,7,0,0,1,18,29
74,102,110,Diesel,99,281,30,17,109,82
75,103,111,Other refined fuels and products,0,5,38,3,0,0
76,104,112,LPG,2,1,5,0,2,6
77,105,113,Biofuels,0,0,0,0,0,0
78,106,114,Wood and wood waste,0,0,28,0,0,0
79,107,115,Bagasse,0,0,0,0,0,0
80,108,116,Electricity,8,137,290,113,7,153
81,109,117,Hydro energy,0,0,0,0,0,0
82,110,118,Solar energy,0,0,0,0,0,0
83,111,119,Wind energy,0,0,0,0,0,0
84,112,120,Uranium,0,0,0,0,0,0
85,113,121,Energy residuals,..,..,..,..,..,..
86,114,122,Total use (gross),190,"25,332","2,663","2,965",141,338
87,115,123,Total use (net),117,550,946,142,135,337

In [66]:
gross_physup4 = gross_physup4.drop(columns=['index', 'level_0'])

In [67]:
gross_physup4.head(60)

,Commodity,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services
0,Production of energy products,NaN,NaN,NaN,NaN,NaN,NaN
1,Black coal,0,"12,370",0,0,0,0
2,Brown coal,0,0,0,473,0,0
3,Met Coke,0,0,68,0,0,0
4,Coal by-products,0,0,44,0,0,0
5,Briquettes,0,0,0,0,0,0
6,Natural gas,0,"4,824",0,0,0,0
7,LNG,0,"3,376",0,0,0,0
8,Crude oil and feedstocks,0,589,0,0,0,0
9,Petrol,0,0,390,0,0,0
10,Diesel,0,0,355,0,0,0
11,Other refined fuels and products,0,0,399,0,0,0
12,LPG,0,82,30,0,0,0
13,Biofuels,0,0,11,13,0,0
14,Wood and wood waste,73,0,21,0,0,0
15,Bagasse,0,0,100,0,0,0
16,Electricity,0,61,24,838,4,1
17,Hydro energy,0,0,0,58,0,0
18,Solar energy,0,0,0,52,0,0
19,Wind energy,0,0,0,55,0,0
20,Uranium,0,"3,127",0,0,0,0
21,Input or product,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services (a)
22,Energy from natural inputs,NaN,NaN,NaN,NaN,NaN,NaN
23,Black coal,0,"12,370",0,0,0,0
24,Brown coal,0,0,0,473,0,0
25,Met Coke,0,0,0,0,0,0
26,Coal by-products,0,0,0,0,0,0
27,Briquettes,0,0,0,0,0,0
28,Natural gas,0,"4,824",0,0,0,0
29,LNG,0,0,0,0,0,0
30,Crude oil and feedstocks,0,589,0,0,0,0
31,Petrol,0,0,0,0,0,0
32,Diesel,0,0,0,0,0,0
33,Other refined fuels and products,0,0,0,0,0,0
34,LPG,0,82,30,0,0,0
35,Biofuels,0,0,11,13,0,0
36,Wood and wood waste,73,0,21,0,0,0
37,Bagasse,0,0,100,0,0,0
38,Electricity,0,0,0,0,0,0
39,Hydro energy,0,0,0,58,0,0
40,Solar energy,0,0,0,52,0,0
41,Wind energy,0,0,0,55,0,0
42,Uranium,0,"3,127",0,0,0,0
43,Transformation of energy products,NaN,NaN,NaN,NaN,NaN,NaN
44,Black coal,0,4,115,"1,164",0,0
45,Brown coal,0,0,0,473,0,0
46,Met Coke,0,0,0,0,0,0
47,Coal by-products,0,0,0,0,0,0
48,Briquettes,0,0,0,0,0,0
49,Natural gas,0,"3,776",35,358,4,0
50,LNG,0,0,0,0,0,0
51,Crude oil and feedstocks,0,0,"1,081",0,0,0
52,Petrol,0,0,0,0,0,0
53,Diesel,0,8,3,10,1,0
54,Other refined fuels and products,0,0,144,3,1,0
55,LPG,0,0,0,0,0,0
56,Biofuels,0,0,0,15,0,0
57,Wood and wood waste,0,0,0,17,0,0
58,Bagasse,0,0,84,17,0,0
59,Electricity,0,0,0,0,0,0

In [68]:
production_gross_physup = gross_physup4.iloc[1:21]

In [69]:
production_gross_physup

,Commodity,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services
1,Black coal,0,"12,370",0,0,0,0
2,Brown coal,0,0,0,473,0,0
3,Met Coke,0,0,68,0,0,0
4,Coal by-products,0,0,44,0,0,0
5,Briquettes,0,0,0,0,0,0
6,Natural gas,0,"4,824",0,0,0,0
7,LNG,0,"3,376",0,0,0,0
8,Crude oil and feedstocks,0,589,0,0,0,0
9,Petrol,0,0,390,0,0,0
10,Diesel,0,0,355,0,0,0
11,Other refined fuels and products,0,0,399,0,0,0
12,LPG,0,82,30,0,0,0
13,Biofuels,0,0,11,13,0,0
14,Wood and wood waste,73,0,21,0,0,0
15,Bagasse,0,0,100,0,0,0
16,Electricity,0,61,24,838,4,1
17,Hydro energy,0,0,0,58,0,0
18,Solar energy,0,0,0,52,0,0
19,Wind energy,0,0,0,55,0,0
20,Uranium,0,"3,127",0,0,0,0

In [70]:
production_gross_physup.to_csv('datasets/clean_data/production_of_energy_products.csv', index = False)

In [71]:
energy_from_nat_inputs = gross_physup4.iloc[23:43]

In [72]:
energy_from_nat_inputs

,Commodity,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services
23,Black coal,0,"12,370",0,0,0,0
24,Brown coal,0,0,0,473,0,0
25,Met Coke,0,0,0,0,0,0
26,Coal by-products,0,0,0,0,0,0
27,Briquettes,0,0,0,0,0,0
28,Natural gas,0,"4,824",0,0,0,0
29,LNG,0,0,0,0,0,0
30,Crude oil and feedstocks,0,589,0,0,0,0
31,Petrol,0,0,0,0,0,0
32,Diesel,0,0,0,0,0,0
33,Other refined fuels and products,0,0,0,0,0,0
34,LPG,0,82,30,0,0,0
35,Biofuels,0,0,11,13,0,0
36,Wood and wood waste,73,0,21,0,0,0
37,Bagasse,0,0,100,0,0,0
38,Electricity,0,0,0,0,0,0
39,Hydro energy,0,0,0,58,0,0
40,Solar energy,0,0,0,52,0,0
41,Wind energy,0,0,0,55,0,0
42,Uranium,0,"3,127",0,0,0,0

In [73]:
energy_from_nat_inputs.to_csv('datasets/clean_data/energy_from_natural_inputs.csv', index = False)

In [74]:
transform_energy_prod = gross_physup4.iloc[44:64]

In [75]:
transform_energy_prod

,Commodity,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services
44,Black coal,0,4,115,"1,164",0,0
45,Brown coal,0,0,0,473,0,0
46,Met Coke,0,0,0,0,0,0
47,Coal by-products,0,0,0,0,0,0
48,Briquettes,0,0,0,0,0,0
49,Natural gas,0,"3,776",35,358,4,0
50,LNG,0,0,0,0,0,0
51,Crude oil and feedstocks,0,0,"1,081",0,0,0
52,Petrol,0,0,0,0,0,0
53,Diesel,0,8,3,10,1,0
54,Other refined fuels and products,0,0,144,3,1,0
55,LPG,0,0,0,0,0,0
56,Biofuels,0,0,0,15,0,0
57,Wood and wood waste,0,0,0,17,0,0
58,Bagasse,0,0,84,17,0,0
59,Electricity,0,0,0,0,0,0
60,Hydro energy,0,0,0,57,0,0
61,Solar energy,0,0,0,3,0,0
62,Wind energy,0,0,0,55,0,0
63,Uranium,0,0,0,0,0,0

In [76]:
transform_energy_prod.to_csv('datasets/clean_data/transformation_of_energy_products.csv', index = False)

In [77]:
gross_end_use_energy_prod = gross_physup4.iloc[65:85]

In [78]:
gross_end_use_energy_prod

,Commodity,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Commercial and Services
65,Black coal,0,0,105,0,0,0
66,Brown coal,0,0,0,0,0,0
67,Met Coke,0,0,0,0,0,0
68,Coal by-products,0,0,0,0,0,0
69,Briquettes,0,0,0,0,0,0
70,Natural gas,1,122,383,7,0,67
71,LNG,0,0,0,0,0,0
72,Crude oil and feedstocks,0,1,51,1,0,0
73,Petrol,7,0,0,1,18,29
74,Diesel,99,281,30,17,109,82
75,Other refined fuels and products,0,5,38,3,0,0
76,LPG,2,1,5,0,2,6
77,Biofuels,0,0,0,0,0,0
78,Wood and wood waste,0,0,28,0,0,0
79,Bagasse,0,0,0,0,0,0
80,Electricity,8,137,290,113,7,153
81,Hydro energy,0,0,0,0,0,0
82,Solar energy,0,0,0,0,0,0
83,Wind energy,0,0,0,0,0,0
84,Uranium,0,0,0,0,0,0

In [79]:
gross_end_use_energy_prod.to_csv('datasets/clean_data/end_use_of_energy_products.csv', index = False)

## CLEANING CSV 6 -> EmploymentStateGender.csv

In [80]:
gender6.head()

,Nov-1984,Males,Sydney (old standards) [1960-1991],"Agriculture, Forestry and Fishing",7.20540351,0.92076481,389.0630359,11.77411412,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0,184.71542,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nov-1984,Males,Sydney (old standards) [1960-1991],Manufacturing,196.5095135,6.15599104,7933.446386,141.8141274,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nov-1984,Males,Sydney (old standards) [1960-1991],"Electricity, Gas, Water and Waste Services",31.56465294,0.04663942,1100.614505,0.75462698,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nov-1984,Males,Sydney (old standards) [1960-1991],Construction,83.52781017,4.12374458,3237.722582,53.2673068,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nov-1984,Males,Sydney (old standards) [1960-1991],Wholesale Trade,66.03758645,1.91253015,2782.794626,37.9611791,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
gender6 = gender6.rename(columns={
    "Nov-1984":"Date",
    "Males":"Sex",
    "Sydney (old standards) [1960-1991]":"Location",
    "Agriculture, Forestry and Fishing":"Industry division of main job",
    "7.20540351":"Employed full-time ('000)",
    "0.92076481":"Employed part-time ('000)",
})

In [82]:
gender6.head(1)

,Date,Sex,Location,Industry division of main job,Employed full-time ('000),Employed part-time ('000),389.0630359,11.77411412,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0,184.71542,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
gender6 = gender6.drop(columns=['389.0630359','11.77411412','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'])

In [84]:
gender6

,Date,Sex,Location,Industry division of main job,Employed full-time ('000),Employed part-time ('000)
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0
1,Nov-1984,Males,Sydney (old standards) [1960-1991],Manufacturing,196.5095135,6.15599104
2,Nov-1984,Males,Sydney (old standards) [1960-1991],"Electricity, Gas, Water and Waste Services",31.56465294,0.04663942
3,Nov-1984,Males,Sydney (old standards) [1960-1991],Construction,83.52781017,4.12374458
4,Nov-1984,Males,Sydney (old standards) [1960-1991],Wholesale Trade,66.03758645,1.91253015
...,...,...,...,...,...,...
74941,Feb-2020,Females,Australian Capital Territory,Public Administration and Safety,31.59241812,7.27855118
74942,Feb-2020,Females,Australian Capital Territory,Education and Training,7.78986142,6.4857304
74943,Feb-2020,Females,Australian Capital Territory,Health Care and Social Assistance,8.74328108,9.75860676
74944,Feb-2020,Females,Australian Capital Territory,Arts and Recreation Services,0.91012106,0.23499235
74945,Feb-2020,Females,Australian Capital Territory,Other Services,1.75410767,2.13947016

In [85]:
gender6['Sex'].unique()

array(['Males', 'Females'], dtype=object)

In [86]:
gender6['Industry division of main job'].unique()

array(['Mining', 'Manufacturing',
       'Electricity, Gas, Water and Waste Services', 'Construction',
       'Wholesale Trade', 'Retail Trade',
       'Accommodation and Food Services',
       'Transport, Postal and Warehousing',
       'Information Media and Telecommunications',
       'Financial and Insurance Services',
       'Rental, Hiring and Real Estate Services',
       'Professional, Scientific and Technical Services',
       'Administrative and Support Services',
       'Public Administration and Safety', 'Education and Training',
       'Health Care and Social Assistance',
       'Arts and Recreation Services', 'Other Services',
       'Agriculture, Forestry and Fishing'], dtype=object)

In [87]:
gender6 = gender6.replace('Sydney (old standards) [1960-1991]', 'NSW')
gender6 = gender6.replace('Balance of New South Wales (old standards) [1960-1991]', 'NSW')
gender6 = gender6.replace('Melbourne (old standards) [1960-1991]', 'VIC')
gender6 = gender6.replace('Balance of Victoria (old standards) [1960-1991]', 'VIC')
gender6 = gender6.replace('Brisbane (old standards) [1960-1991]', 'QLD')
gender6 = gender6.replace('Balance of Queensland (old standards) [1960-1991]', 'QLD')
gender6 = gender6.replace('Adelaide (old standards) [1960-1991]', 'SA')
gender6 = gender6.replace('Balance of South Australia (old standards) [1960-1991]', 'SA')
gender6 = gender6.replace('Perth (old standards) [1960-1991]', 'WA')
gender6 = gender6.replace('Balance of Western Australia (old standards) [1960-1991]', 'WA')
gender6 = gender6.replace('Hobart (old standards) [1960-1991]', 'TAS')
gender6 = gender6.replace('Balance of Tasmania (old standards) [1960-1991]', 'TAS')
gender6 = gender6.replace('Northern Territory', 'NT')
gender6 = gender6.replace('Australian Capital Territory', 'NT')
gender6 = gender6.replace('Greater Sydney', 'NSW')
gender6 = gender6.replace('Rest of NSW', 'NSW')
gender6 = gender6.replace('Greater Melbourne', 'VIC')
gender6 = gender6.replace('Rest of Vic.', 'VIC')
gender6 = gender6.replace('Greater Brisbane', 'QLD')
gender6 = gender6.replace('Rest of Qld', 'QLD')
gender6 = gender6.replace('Greater Adelaide', 'SA')
gender6 = gender6.replace('Rest of SA', 'SA')
gender6 = gender6.replace('Greater Perth', 'WA')
gender6 = gender6.replace('Rest of WA', 'WA')
gender6 = gender6.replace('Greater Hobart', 'TAS')
gender6 = gender6.replace('Rest of Tas.', 'TAS')

In [88]:
mining = gender6[gender6['Industry division of main job'].str.contains('Mining')]

In [89]:
mining['Location'].unique()

array(['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT'], dtype=object)

In [90]:
mining

,Date,Sex,Location,Industry division of main job,Employed full-time ('000),Employed part-time ('000)
0,Nov-1984,Males,NSW,Mining,4.8325305,0
19,Nov-1984,Males,NSW,Mining,23.3158189,0.683753
38,Nov-1984,Males,VIC,Mining,2.9196725,0.2068462
57,Nov-1984,Males,VIC,Mining,2.069849,0
76,Nov-1984,Males,QLD,Mining,3.5890868,0
...,...,...,...,...,...,...
74835,Feb-2020,Females,WA,Mining,15.51262524,0.78978566
74854,Feb-2020,Females,WA,Mining,4.2021882,1.48418985
74890,Feb-2020,Females,TAS,Mining,0.104005,0.09207643
74909,Feb-2020,Females,NT,Mining,0.22795477,0
74928,Feb-2020,Females,NT,Mining,0.17949213,0

In [91]:
1785

1785

In [92]:
mining = mining.iloc[1710:3493]

In [93]:
# new data frame with split value columns 
new = mining["Date"].str.split("-", n = 0, expand = True) 
# making separate first name column from new data frame 
mining["Date"]= new[1]

C:\Users\natal\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [94]:
mining

,Date,Sex,Location,Industry division of main job,Employed full-time ('000),Employed part-time ('000)
36470,2002,Males,NSW,Mining,1.39163482,0
36489,2002,Males,NSW,Mining,13.43917492,0
36508,2002,Males,VIC,Mining,1.19888092,0.35408597
36527,2002,Males,VIC,Mining,2.77636417,0
36546,2002,Males,QLD,Mining,3.02951629,0.26645255
...,...,...,...,...,...,...
74835,2020,Females,WA,Mining,15.51262524,0.78978566
74854,2020,Females,WA,Mining,4.2021882,1.48418985
74890,2020,Females,TAS,Mining,0.104005,0.09207643
74909,2020,Females,NT,Mining,0.22795477,0
74928,2020,Females,NT,Mining,0.17949213,0

In [96]:
mining = mining.drop(columns=['Industry division of main job'])

In [97]:
mining

,Date,Sex,Location,Employed full-time ('000),Employed part-time ('000)
36470,2002,Males,NSW,1.39163482,0
36489,2002,Males,NSW,13.43917492,0
36508,2002,Males,VIC,1.19888092,0.35408597
36527,2002,Males,VIC,2.77636417,0
36546,2002,Males,QLD,3.02951629,0.26645255
...,...,...,...,...,...
74835,2020,Females,WA,15.51262524,0.78978566
74854,2020,Females,WA,4.2021882,1.48418985
74890,2020,Females,TAS,0.104005,0.09207643
74909,2020,Females,NT,0.22795477,0
74928,2020,Females,NT,0.17949213,0

In [108]:
mining.head(50)

,Date,Sex,Location,Employed full-time ('000),Employed part-time ('000)
36470,2002,Males,NSW,1.39163482,0
36489,2002,Males,NSW,13.43917492,0
36508,2002,Males,VIC,1.19888092,0.35408597
36527,2002,Males,VIC,2.77636417,0
36546,2002,Males,QLD,3.02951629,0.26645255
36565,2002,Males,QLD,13.44190256,0
36584,2002,Males,SA,2.25548114,0.16985069
36603,2002,Males,SA,0.75157245,0
36622,2002,Males,WA,15.92291843,0.18229721
36641,2002,Males,WA,14.64294949,0.19786015
36678,2002,Males,TAS,1.64060058,0.18069099
36697,2002,Males,NT,1.41601854,0.14460338
36716,2002,Males,NT,0.09535705,0
36735,2002,Females,NSW,0.3223432,0
36754,2002,Females,NSW,0.35777097,0.36781134
36773,2002,Females,VIC,0.53095302,0.27043536
36810,2002,Females,QLD,0.31313439,0.24789735
36829,2002,Females,QLD,1.00145697,0
36848,2002,Females,SA,0.3313664,0
36867,2002,Females,SA,0,0.14329336
36886,2002,Females,WA,2.44619423,0.83931465
36905,2002,Females,WA,2.27029972,0.20057831
36960,2002,Females,NT,0.31760634,0
36997,2002,Males,NSW,1.76531093,0
37016,2002,Males,NSW,11.67211304,0.32953584
37035,2002,Males,VIC,2.64779519,0.25759352
37054,2002,Males,VIC,1.42236295,0
37073,2002,Males,QLD,2.98199178,0
37092,2002,Males,QLD,14.20527855,0
37111,2002,Males,SA,2.43313929,0
37130,2002,Males,SA,0.42145219,0.16853871
37149,2002,Males,WA,16.55202309,0
37168,2002,Males,WA,13.68521257,0
37205,2002,Males,TAS,1.53567489,0.18043016
37224,2002,Males,NT,1.24333496,0
37279,2002,Females,NSW,1.00428397,0.33312849
37298,2002,Females,VIC,0.27151432,0.26740376
37335,2002,Females,QLD,0.2034171,0
37354,2002,Females,QLD,1.28392617,0
37373,2002,Females,SA,0.48943434,0
37410,2002,Females,WA,3.34773977,0.52295954
37429,2002,Females,WA,3.14095221,0
37484,2002,Females,NT,0.55274639,0
37521,2002,Males,NSW,1.82618018,0
37540,2002,Males,NSW,11.63953511,0
37559,2002,Males,VIC,4.0834037,0
37578,2002,Males,VIC,1.99032188,0
37597,2002,Males,QLD,2.08497795,0
37616,2002,Males,QLD,13.57305823,0
37635,2002,Males,SA,3.07854831,0

In [114]:
mining.to_csv('datasets/clean_data/mining_gender.csv', index = False)

## MERGE DATASETS