## READ IN ALL FILES

In [1]:
# IMPORT DEPENDENCIES
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import datetime

In [2]:
# SET PATHS TO DATA
path_data1 = 'AusDetailedSupUse.csv'
path_data2 = 'AusEnergyIndicators.csv'
path_data3 = 'AusEnergyStocks.csv'
path_data4 = 'AusGrossPhysicalSupUse.csv'
path_data5 = 'DetailedSup.csv'
path_data6 = 'EmploymentStateGenderContract.csv'
path_data7 = 'NetSup20172018.csv'

In [3]:
# READ IN CSV FILES
detailed_supply1 = pd.read_csv(path_data1)

In [4]:
energy_indicators2 = pd.read_csv(path_data2)

In [5]:
energy_stocks3 = pd.read_csv(path_data3)

In [6]:
gross_physup4 = pd.read_csv(path_data4)

In [7]:
detailed_sup5 = pd.read_csv(path_data5)

In [8]:
gender6 = pd.read_csv(path_data6, low_memory=False)

In [9]:
netsup7 = pd.read_csv(path_data7)

## CLEANING CSV 1 -> AusDetailedSupUse.csv

In [10]:
detailed_supply1.head(10)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,"46040DO0004 Energy Account, Australia, 2017-18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) 11 Decembe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 4.1 Detailed gross physical supply and u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Supply or Use,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,2003-04,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
6,Supply,Natural input,Black coal,Flows from the environment,NaN,NaN,NaN,PJ,"7,287","7,535",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
7,Supply,Natural input,Brown coal,Flows from the environment,NaN,NaN,NaN,PJ,732,727,...,752,759,737,745,645,625,678,635,584,473
8,Supply,Natural input,Coke,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-
9,Supply,Natural input,Coal by-products,Flows from the environment,NaN,NaN,NaN,PJ,-,-,...,-,-,-,-,-,-,-,-,-,-

Delete irrelevant columns and columns

In [11]:
detailed_supply1 = detailed_supply1.drop(detailed_supply1.index[[0,1,2,3,4]])

In [12]:
detailed_supply1 = detailed_supply1.rename(columns={
    "Australian Bureau of Statistics":"Supply or Use",
    "Unnamed: 1":"Input",
    "Unnamed: 2":"Commodity",
    "Unnamed: 3":"Measure or Industry division (ANZSIC)",
    "Unnamed: 4":"ANZSIC division code",
    "Unnamed: 5":"Industry subdivision",
    "Unnamed: 6":"ANZSIC subdivision code",
    "Unnamed: 7":"Unit",
    "Unnamed: 8":"2002-03",
    "Unnamed: 9":"2003-04",
    "Unnamed: 10":"2004-05",
    "Unnamed: 11":"2005-06",
    "Unnamed: 12":"2006-07",
    "Unnamed: 13":"2007-08",
    "Unnamed: 14":"2008-09",
    "Unnamed: 15":"2009-10",
    "Unnamed: 16":"2010-11",
    "Unnamed: 17":"2011-12",
    "Unnamed: 18":"2012-13",
    "Unnamed: 19":"2013-14",
    "Unnamed: 20":"2014-15",
    "Unnamed: 21":"2015-16",
    "Unnamed: 22":"2016-17",
    "Unnamed: 23":"2017-18"
})

In [13]:
detailed_supply1.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

,index,Australian Bureau of Statistics,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
0,5,Supply or Use,Input,Commodity,Measure or Industry division (ANZSIC),ANZSIC division code,Industry subdivision,ANZSIC subdivision code,Unit,2002-03,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
1,6,Supply,Natural input,Black coal,Flows from the environment,NaN,NaN,NaN,PJ,"7,287",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
2,7,Supply,Natural input,Brown coal,Flows from the environment,NaN,NaN,NaN,PJ,732,...,752,759,737,745,645,625,678,635,584,473
3,8,Supply,Natural input,Coke,Flows from the environment,NaN,NaN,NaN,PJ,-,...,-,-,-,-,-,-,-,-,-,-
4,9,Supply,Natural input,Coal by-products,Flows from the environment,NaN,NaN,NaN,PJ,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,3127,- nil or rounded to zero (including null cells),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123,3128,np not available for publication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3124,3129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3125,3130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3126,3131,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
detailed_supply1 = detailed_supply1.drop(detailed_supply1.index[[0,3121,3122,3123,3124,3125,3126]])

In [15]:
detailed_supply1 = detailed_supply1.drop(columns=['ANZSIC division code', 'Industry subdivision', 'ANZSIC subdivision code'])

In [16]:
detailed_supply1 = detailed_supply1.replace('-', '0')

In [17]:
detailed_supply1.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [18]:
detailed_supply1 = detailed_supply1.drop(columns=['index'])

In [19]:
detailed_supply1

,Australian Bureau of Statistics,Input,Commodity,Measure or Industry division (ANZSIC),Unit,2002-03,2003-04,2004-05,2005-06,2006-07,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
0,Supply,Natural input,Black coal,Flows from the environment,PJ,"7,287","7,535","8,055","8,141","8,632",...,"9,009","9,759","9,244","9,885","10,902","11,807","12,288","12,157","12,162","12,370"
1,Supply,Natural input,Brown coal,Flows from the environment,PJ,732,727,737,745,728,...,752,759,737,745,645,625,678,635,584,473
2,Supply,Natural input,Coke,Flows from the environment,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Supply,Natural input,Coal by-products,Flows from the environment,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Supply,Natural input,Briquettes,Flows from the environment,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,Use,End Use of Energy Products,Solar energy,Total use,PJ,3,3,3,3,6,...,9,12,17,21,27,29,34,38,42,49
3116,Use,End Use of Energy Products,Wind energy,Total use,PJ,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3117,Use,End Use of Energy Products,Uranium,Total use,PJ,"4,311","4,497","5,154","4,710","4,480",...,"4,854","3,319","3,355","3,602","4,209","2,795","3,053","3,603","3,429","3,127"
3118,Use,End Use of Energy Products,Residuals,Total use,PJ,"1,768","1,775","1,854","1,960","2,041",...,"2,140","2,074","2,087","1,993","1,944","1,886","1,912","1,947","2,006","1,960"
3119,Use,Total Gross Use,Total,Total use,PJ,"37,024","37,491","40,404","39,796","41,512",...,"43,709","42,578","42,291","43,536","47,366","46,184","47,770","50,417","52,215","53,583"

Export clean dataframe for analysis

In [20]:
detailed_supply1.to_csv('cleandata/sup_use_commodity.csv', index = False)

## CLEANING CSV 2 -> AusEnergyIndicators.csv

In [21]:
energy_indicators2.head(10)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,"46040DO0001 Energy Account, Australia, 2017-18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) 11 Decembe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Table 1 Energy indicators, Australia, ending J...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Net energy use index,"GDP, Chain volume series - Index",Degree of self sufficiency,Renewable energy supply of total domestic net ...,Share of renewable energy in net energy inputs,Government use of net domestic energy,Estimated resident population - Australia,Estimated number of households - Australia,Energy use (Net) - per person,...,Remaining resource life - LPG,Remaining resource life - Natural gas,Remaining resource life - Uranium,Extraction rate - Black coal,Extraction rate - Brown coal,Extraction rate - Crude oil,Extraction rate - Condensate,Extraction rate - LPG,Extraction rate - Natural gas,Extraction rate - Uranium
4,Unit,Index,Index,Percent,Percent,Percent,Percent,Persons,Households,GJ,...,Years,Years,Years,Percent,Percent,Percent,Percent,Percent,Percent,Percent
5,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
6,Data Type,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,...,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED,DERIVED
7,Frequency,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,...,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual,Annual
8,Collection Month,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
9,Series Start,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,...,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003,Jun-2003

In [22]:
energy_indicators2 = energy_indicators2.drop(energy_indicators2.index[[0,1,2]])

In [23]:
energy_indicators2 = energy_indicators2.drop(energy_indicators2.index[[1,2,3,4,5,6,7,8,9]])

In [24]:
energy_indicators2.head(1)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
3,NaN,Net energy use index,"GDP, Chain volume series - Index",Degree of self sufficiency,Renewable energy supply of total domestic net ...,Share of renewable energy in net energy inputs,Government use of net domestic energy,Estimated resident population - Australia,Estimated number of households - Australia,Energy use (Net) - per person,...,Remaining resource life - LPG,Remaining resource life - Natural gas,Remaining resource life - Uranium,Extraction rate - Black coal,Extraction rate - Brown coal,Extraction rate - Crude oil,Extraction rate - Condensate,Extraction rate - LPG,Extraction rate - Natural gas,Extraction rate - Uranium

In [25]:
energy_indicators2 = energy_indicators2.rename(columns={
    "Australian Bureau of Statistics":"Date",
    "Unnamed: 1":"Net energy use index",
    "Unnamed: 2":"GDP, Chain volume series - Index",
    "Unnamed: 3":"Degree of self sufficiency",
    "Unnamed: 4":"Renewable energy supply of total domestic net energy use",
    "Unnamed: 5":"Share of renewable energy in net energy inputs",
    "Unnamed: 6":"Government use of net domestic energy",
    "Unnamed: 7":"Estimated resident population - Australia",
    "Unnamed: 8":"Estimated number of households -  Australia",
    "Unnamed: 9":"Energy use (Net) - per person",
    "Unnamed: 10":"Energy use (Net) - per household",
    "Unnamed: 11":"Gas costs - per household",
    "Unnamed: 12":"Petroleum costs - per household",
    "Unnamed: 13":"Electricity costs - per household",
    "Unnamed: 14":"Total energy costs - per household",
    "Unnamed: 15":"Energy extracted (Net) - per household",
    "Unnamed: 16":"Renewable energy extracted by households",
    "Unnamed: 17":"Agriculture (Energy intensity)",
    "Unnamed: 18":"Mining (Energy intensity)",
    "Unnamed: 19":"Manufacturing (Energy intensity)",
    "Unnamed: 20":"Electricity, gas, water supply and waste services (Energy intensity)",
    "Unnamed: 21":"Construction (Energy intensity)",
    "Unnamed: 22":"Transport (Energy intensity)",
    "Unnamed: 23":"Commercial & Services (Energy intensity)",
    "Unnamed: 24":"All selected industries (Energy intensity)",
    "Unnamed: 25":"Black coal (Remaining resource life)",
    "Unnamed: 26":"Brown coal (Remaining resource life)",
    "Unnamed: 27":"Crude oil (Remaining resource life)",
    "Unnamed: 28":"Condensate (Remaining resource life)",
    "Unnamed: 29":"LPG (Remaining resource life)",
    "Unnamed: 30":"Natural gas (Remaining resource life)",
    "Unnamed: 31":"Uranium (remaining resource life)",
    "Unnamed: 32":"Black coal (Extraction rate)",
    "Unnamed: 33":"Brown coal (Extraction rate)",
    "Unnamed: 34":"Crude oil (Extraction rate)",
    "Unnamed: 35":"Condensate (Extraction rate)",
    "Unnamed: 36":"LPG (Extraction rate)",
    "Unnamed: 37":"Natural gas (Extraction rate)",
    "Unnamed: 38":"Uranium (Extraction rate)",
})

In [26]:
energy_indicators2 = energy_indicators2.drop(energy_indicators2.index[[0]])

In [27]:
energy_indicators2.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')
energy_indicators2.head()

,index,Australian Bureau of Statistics,Net energy use index,"GDP, Chain volume series - Index",Degree of self sufficiency,Renewable energy supply of total domestic net energy use,Share of renewable energy in net energy inputs,Government use of net domestic energy,Estimated resident population - Australia,Estimated number of households - Australia,...,LPG (Remaining resource life),Natural gas (Remaining resource life),Uranium (remaining resource life),Black coal (Extraction rate),Brown coal (Extraction rate),Crude oil (Extraction rate),Condensate (Extraction rate),LPG (Extraction rate),Natural gas (Extraction rate),Uranium (Extraction rate)
0,13,Jun-2003,100.0,100.0,307.0,8.5,1.7,2.6,"19,720,737.0","7,264,723.0",...,38.2,71.9,74.1,0.7,0.2,11.9,3.0,2.6,1.4,1.3
1,14,Jun-2004,101.3,104.1,303.8,8.3,1.6,2.6,"19,932,722.0","7,396,137.0",...,40.3,61.9,71.7,0.7,0.2,10.1,3.0,2.5,1.6,1.4
2,15,Jun-2005,109.6,107.4,320.5,8.2,1.5,2.5,"20,176,844.0","7,526,410.0",...,25.1,64.4,74.6,0.8,0.2,9.3,2.4,4.0,1.6,1.3
3,16,Jun-2006,108.1,110.4,305.9,8.2,1.6,2.5,"20,450,966.0","7,656,969.0",...,25.6,58.2,94.1,0.8,0.2,10.0,2.7,3.9,1.7,1.1
4,17,Jun-2007,112.6,114.6,307.7,8.1,1.5,2.5,"20,827,622.0","7,803,641.0",...,27.5,50.1,98.7,0.8,0.2,11.9,3.4,3.6,2.0,1.0

In [28]:
energy_indicators2 = energy_indicators2.drop(columns=['index'])

In [29]:
energy_indicators2 = energy_indicators2.drop(energy_indicators2.index[[16,17,18,19,20]])

In [30]:
energy_indicators2

,Australian Bureau of Statistics,Net energy use index,"GDP, Chain volume series - Index",Degree of self sufficiency,Renewable energy supply of total domestic net energy use,Share of renewable energy in net energy inputs,Government use of net domestic energy,Estimated resident population - Australia,Estimated number of households - Australia,Energy use (Net) - per person,...,LPG (Remaining resource life),Natural gas (Remaining resource life),Uranium (remaining resource life),Black coal (Extraction rate),Brown coal (Extraction rate),Crude oil (Extraction rate),Condensate (Extraction rate),LPG (Extraction rate),Natural gas (Extraction rate),Uranium (Extraction rate)
0,Jun-2003,100.0,100.0,307.0,8.5,1.7,2.6,"19,720,737.0","7,264,723.0",55.7,...,38.2,71.9,74.1,0.7,0.2,11.9,3.0,2.6,1.4,1.3
1,Jun-2004,101.3,104.1,303.8,8.3,1.6,2.6,"19,932,722.0","7,396,137.0",56.6,...,40.3,61.9,71.7,0.7,0.2,10.1,3.0,2.5,1.6,1.4
2,Jun-2005,109.6,107.4,320.5,8.2,1.5,2.5,"20,176,844.0","7,526,410.0",55.8,...,25.1,64.4,74.6,0.8,0.2,9.3,2.4,4.0,1.6,1.3
3,Jun-2006,108.1,110.4,305.9,8.2,1.6,2.5,"20,450,966.0","7,656,969.0",55.7,...,25.6,58.2,94.1,0.8,0.2,10.0,2.7,3.9,1.7,1.1
4,Jun-2007,112.6,114.6,307.7,8.1,1.5,2.5,"20,827,622.0","7,803,641.0",55.1,...,27.5,50.1,98.7,0.8,0.2,11.9,3.4,3.6,2.0,1.0
5,Jun-2008,115.2,118.8,311.8,7.9,1.5,2.5,"21,249,199.0","7,953,657.0",54.4,...,22.6,58.0,127.7,0.8,0.2,9.7,3.1,4.4,1.7,0.8
6,Jun-2009,119.2,121.1,315.4,6.6,1.2,2.5,"21,691,653.0","8,106,022.0",53.2,...,55.8,79.9,149.1,0.8,0.2,9.9,1.8,1.8,1.3,0.7
7,Jun-2010,116.0,123.6,304.4,7.7,1.5,2.6,"22,031,750.0","8,262,019.0",53.0,...,47.8,71.0,201.8,0.9,0.2,9.3,2.2,2.1,1.4,0.5
8,Jun-2011,114.8,126.7,293.9,7.8,1.5,2.6,"22,340,024.0","8,419,972.0",53.7,...,52.1,61.8,199.2,0.7,0.2,10.0,2.1,1.9,1.6,0.5
9,Jun-2012,119.0,131.6,306.2,7.6,1.5,2.6,"22,733,465.0","8,576,293.0",53.1,...,51.6,62.6,169.1,0.6,0.2,9.3,1.9,1.9,1.6,0.6
10,Jun-2013,130.2,135.0,334.6,8.5,1.5,2.6,"23,128,129.0","8,737,962.0",52.9,...,54.0,49.0,182.9,0.6,0.1,6.8,2.1,1.9,2.0,0.5
11,Jun-2014,127.2,138.5,327.6,8.7,1.6,2.7,"23,475,686.0","8,902,436.0",52.2,...,46.9,52.0,231.8,0.7,0.1,6.2,2.1,2.1,1.9,0.4
12,Jun-2015,132.0,141.5,340.0,8.8,1.6,2.7,"23,815,995.0","9,072,188.0",52.6,...,46.6,56.8,217.7,0.7,0.1,9.3,2.1,2.1,1.8,0.5
13,Jun-2016,138.6,145.4,350.2,8.8,1.6,2.7,"24,190,907.0","9,204,635.0",51.4,...,50.5,55.2,202.9,0.6,0.1,8.8,2.1,2.0,1.8,0.5
14,Jun-2017,141.4,148.9,352.5,9.2,1.6,2.7,"24,601,860.0","9,345,350.0",51.5,...,52.9,29.5,175.3,0.6,0.1,7.0,2.2,1.9,3.4,0.6
15,Jun-2018,144.4,153.2,355.8,9.1,1.6,2.7,"24,992,747.0","9,495,177.0",51.4,...,64.8,26.7,197.4,0.5,0.1,6.4,2.2,1.5,3.7,0.5

In [31]:
energy_indicators2.to_csv('cleandata/energy_indicators.csv', index = False)

## CLEANING CSV 3 -> AusEnergyStocks.csv

In [32]:
energy_stocks3

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,"46040DO0002 Energy Account, Australia, 2017-18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) 11 Decembe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 2.1 Stock and net present value of energ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Measure,Unit,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
5,Black coal (a),Gt,39,39,40,39,39,39,42,43,50,59,62,62,65,70,79,91,99
6,Black coal (a),PJ,"1,053,000","1,063,800","1,074,600","1,063,800","1,061,100","1,055,700","1,120,500","1,155,600","1,341,900","1,601,100","1,663,200","1,676,700","1,760,400","1,879,200","2,138,400","2,454,300","2,659,500"
7,Black coal,$m,"3,912","4,785","9,593","13,318","12,911","38,971","74,742","88,107","73,546","59,404","17,450","2,923","3,070","2,670",744,960,811
8,Brown coal (a),Gt,38,38,38,37,37,37,37,38,42,44,44,44,60,77,77,77,77
9,Brown coal (a),PJ,"368,480","367,500","367,500","366,520","365,540","365,540","364,560","374,360","408,660","433,160","433,160","433,160","590,940","749,700","749,700","749,700","749,700"
10,Brown coal,$m,573,600,450,555,979,"1,495","1,159",311,225,214,282,332,187,260,335,385,385
11,Crude oil (a),GL,190,181,179,167,161,175,179,162,146,142,145,140,135,131,128,126,123
12,Crude oil (a),PJ,"7,045","6,682","6,634","6,172","5,957","6,460","6,608","5,979","5,409","5,265","5,347","5,173","4,984","4,851","4,751","4,658","4,533"
13,Crude oil,$m,"25,516","29,029","33,028","37,485","40,001","56,124","61,033","57,350","51,323","49,144","40,903","38,310","33,021","26,577","20,476","17,699","13,420"
14,Condensate (a),GL,265,245,237,235,222,274,331,330,322,308,290,291,316,327,329,334,344
15,Condensate (a),PJ,"9,820","9,065","8,762","8,684","8,229","10,138","12,236","12,217","11,903","11,407","10,726","10,782","11,685","12,110","12,177","12,365","12,739"
16,Condensate,$m,"17,488","21,732","23,558","27,209","29,823","37,733","37,121","37,699","38,069","37,711","33,459","35,572","33,227","26,596","20,381","17,362","15,705"
17,LPG (a),GL,271,230,200,200,190,174,162,153,146,144,146,150,154,157,159,162,165
18,LPG (a),PJ,"7,182","6,090","5,311","5,297","5,032","4,606","4,290","4,049","3,869","3,827","3,866","3,978","4,078","4,150","4,208","4,290","4,380"
19,LPG,$m,"8,119","8,629","8,823","9,021","9,950","11,262","12,435","12,247","11,393","10,400","7,573","7,485","6,848","5,072","3,660","2,382",821
20,Natural gas (a) (b),Bcm,"2,553","2,450","2,401","2,394","2,364","2,715","3,027","2,916","2,804","2,644","2,431","2,608","2,959","3,023","3,092","3,214","3,418"
21,Natural gas (a) (b),PJ,"99,117","95,137","93,215","92,943","91,794","105,420","117,523","113,236","108,875","102,651","94,376","101,273","114,886","117,364","120,078","124,792","132,725"
22,Natural gas (b),$m,"19,881","24,754","31,121","42,190","45,346","64,453","68,324","77,059","88,510","108,406","114,445","151,502","162,491","161,345","179,574","199,506","227,550"
23,Uranium (a),kt U,682,688,709,715,849,"1,073","1,193","1,191","1,176","1,184","1,171","1,159","1,219","1,279","1,280","1,303","1,333"
24,Uranium (a),PJ,"381,920","385,280","396,760","400,400","475,160","600,880","668,080","666,680","658,280","662,760","655,480","649,040","682,640","715,960","716,800","729,680","746,368"
25,Uranium,$m,49,34,32,93,431,174,270,172,399,182,384,226,257,158,489,909,900
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,(a) Equal to Economic Demonstrated Resources.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,(b) Excludes shale gas and coal seam gas.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
energy_stocks3 = energy_stocks3.drop(energy_stocks3.index[[0,1,2,3,26,27,28,29,30,31]])

In [34]:
energy_stocks3 = energy_stocks3.rename(columns={
    "Australian Bureau of Statistics":"Supply or Use",
    "Unnamed: 1":"Unit",
    "Unnamed: 2":"2002-03",
    "Unnamed: 3":"2003-04",
    "Unnamed: 4":"2004-05",
    "Unnamed: 5":"2005-06",
    "Unnamed: 6":"2006-07",
    "Unnamed: 7":"2007-08",
    "Unnamed: 8":"2008-09",
    "Unnamed: 9":"2009-10",
    "Unnamed: 10":"2010-11",
    "Unnamed: 11":"2011-12",
    "Unnamed: 12":"2012-13",
    "Unnamed: 13":"2013-14",
    "Unnamed: 14":"2014-15",
    "Unnamed: 15":"2015-16",
    "Unnamed: 16":"2016-17",
    "Unnamed: 17":"2017-18",
    "Unnamed: 18":"2018-19"
})

In [35]:
energy_stocks3 = energy_stocks3.drop(energy_stocks3.index[[0]])

In [36]:
energy_stocks3.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [37]:
energy_stocks3 = energy_stocks3.drop(columns=['index'])

In [38]:
energy_stocks3

,Australian Bureau of Statistics,Unit,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,Black coal (a),Gt,39,39,40,39,39,39,42,43,50,59,62,62,65,70,79,91,99
1,Black coal (a),PJ,"1,053,000","1,063,800","1,074,600","1,063,800","1,061,100","1,055,700","1,120,500","1,155,600","1,341,900","1,601,100","1,663,200","1,676,700","1,760,400","1,879,200","2,138,400","2,454,300","2,659,500"
2,Black coal,$m,"3,912","4,785","9,593","13,318","12,911","38,971","74,742","88,107","73,546","59,404","17,450","2,923","3,070","2,670",744,960,811
3,Brown coal (a),Gt,38,38,38,37,37,37,37,38,42,44,44,44,60,77,77,77,77
4,Brown coal (a),PJ,"368,480","367,500","367,500","366,520","365,540","365,540","364,560","374,360","408,660","433,160","433,160","433,160","590,940","749,700","749,700","749,700","749,700"
5,Brown coal,$m,573,600,450,555,979,"1,495","1,159",311,225,214,282,332,187,260,335,385,385
6,Crude oil (a),GL,190,181,179,167,161,175,179,162,146,142,145,140,135,131,128,126,123
7,Crude oil (a),PJ,"7,045","6,682","6,634","6,172","5,957","6,460","6,608","5,979","5,409","5,265","5,347","5,173","4,984","4,851","4,751","4,658","4,533"
8,Crude oil,$m,"25,516","29,029","33,028","37,485","40,001","56,124","61,033","57,350","51,323","49,144","40,903","38,310","33,021","26,577","20,476","17,699","13,420"
9,Condensate (a),GL,265,245,237,235,222,274,331,330,322,308,290,291,316,327,329,334,344
10,Condensate (a),PJ,"9,820","9,065","8,762","8,684","8,229","10,138","12,236","12,217","11,903","11,407","10,726","10,782","11,685","12,110","12,177","12,365","12,739"
11,Condensate,$m,"17,488","21,732","23,558","27,209","29,823","37,733","37,121","37,699","38,069","37,711","33,459","35,572","33,227","26,596","20,381","17,362","15,705"
12,LPG (a),GL,271,230,200,200,190,174,162,153,146,144,146,150,154,157,159,162,165
13,LPG (a),PJ,"7,182","6,090","5,311","5,297","5,032","4,606","4,290","4,049","3,869","3,827","3,866","3,978","4,078","4,150","4,208","4,290","4,380"
14,LPG,$m,"8,119","8,629","8,823","9,021","9,950","11,262","12,435","12,247","11,393","10,400","7,573","7,485","6,848","5,072","3,660","2,382",821
15,Natural gas (a) (b),Bcm,"2,553","2,450","2,401","2,394","2,364","2,715","3,027","2,916","2,804","2,644","2,431","2,608","2,959","3,023","3,092","3,214","3,418"
16,Natural gas (a) (b),PJ,"99,117","95,137","93,215","92,943","91,794","105,420","117,523","113,236","108,875","102,651","94,376","101,273","114,886","117,364","120,078","124,792","132,725"
17,Natural gas (b),$m,"19,881","24,754","31,121","42,190","45,346","64,453","68,324","77,059","88,510","108,406","114,445","151,502","162,491","161,345","179,574","199,506","227,550"
18,Uranium (a),kt U,682,688,709,715,849,"1,073","1,193","1,191","1,176","1,184","1,171","1,159","1,219","1,279","1,280","1,303","1,333"
19,Uranium (a),PJ,"381,920","385,280","396,760","400,400","475,160","600,880","668,080","666,680","658,280","662,760","655,480","649,040","682,640","715,960","716,800","729,680","746,368"
20,Uranium,$m,49,34,32,93,431,174,270,172,399,182,384,226,257,158,489,909,900

In [39]:
energy_stocks3.to_csv('cleandata/energy_stocks.csv', index = False)

## CLEANING CSV 4 -> AusGrossPhysicalSupUse.csv

In [40]:
gross_physup4.tail(15)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
119,Wind energy,-,-,-,-,-,-,-,-,-,-,-,-,NaN,-
120,Uranium,-,-,-,-,-,-,-,-,-,-,-688,"3,815",NaN,"3,127"
121,Energy residuals,..,..,..,..,..,..,..,..,..,..,..,..,"1,960","1,960"
122,Total use (gross),190,"25,332","2,663","2,965",141,677,338,"32,307","1,285",115,-579,"18,609","1,960","53,583"
123,Total use (net),117,550,946,142,135,677,337,"2,904","1,285",115,-579,"18,609","1,960","24,180"
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,null by definition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,.. not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,- nil or rounded to zero (including null cells),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,np not available for publication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,(a) Commercial and Services industry includes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
gross_physup4 = gross_physup4.drop(gross_physup4.index[[0,1,2,3,4,5,6,124,125,126,127,128,129,130,131,132,133]])

In [42]:
gross_physup4 = gross_physup4.drop(columns=['Unnamed: 9', 'Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'])

In [43]:
gross_physup4 = gross_physup4.rename(columns={
    "Australian Bureau of Statistics":"Input or product",
    "Unnamed: 1":"Agriculture, forestry and fishing",
    "Unnamed: 2":"Mining",
    "Unnamed: 3":"Manufacturing",
    "Unnamed: 4":"Electricity, gas, water and waste services",
    "Unnamed: 5":"Construction",
    "Unnamed: 6":"Transport, storage and services",
    "Unnamed: 7":"Commercial and Services",
    "Unnamed: 8":"Total industries"
})

In [44]:
gross_physup4 = gross_physup4.drop(gross_physup4.index[[0]])

In [45]:
gross_physup4 = gross_physup4.replace('-', '0')

In [46]:
gross_physup4 = gross_physup4.replace('np', '0')

In [47]:
gross_physup4.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [48]:
gross_physup4.head(60)

,index,Australian Bureau of Statistics,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services,Total industries
0,8,Natural inputs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,Black coal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,Brown coal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,Met Coke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12,Coal by-products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,13,Briquettes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,14,Natural gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15,LNG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,16,Crude oil and feedstocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,17,Petrol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,18,Diesel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19,Other refined fuels and products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,20,LPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,21,Biofuels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,22,Wood and wood waste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,23,Bagasse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,24,Electricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,25,Hydro energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,26,Solar energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,27,Wind energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,28,Uranium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,29,Production of energy products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,30,Black coal,0,"12,370",0,0,0,0,0,"12,370"
23,31,Brown coal,0,0,0,473,0,0,0,473
24,32,Met Coke,0,0,68,0,0,0,0,68
25,33,Coal by-products,0,0,44,0,0,0,0,44
26,34,Briquettes,0,0,0,0,0,0,0,0
27,35,Natural gas,0,"4,824",0,0,0,0,0,"4,824"
28,36,LNG,0,"3,376",0,0,0,0,0,"3,376"
29,37,Crude oil and feedstocks,0,589,0,0,0,0,0,589
30,38,Petrol,0,0,390,0,0,0,0,390
31,39,Diesel,0,0,355,0,0,0,0,355
32,40,Other refined fuels and products,0,0,399,0,0,0,0,399
33,41,LPG,0,82,30,0,0,0,0,112
34,42,Biofuels,0,0,11,13,0,0,0,23
35,43,Wood and wood waste,73,0,21,0,0,0,0,94
36,44,Bagasse,0,0,100,0,0,0,0,100
37,45,Electricity,0,61,24,838,4,0,1,930
38,46,Hydro energy,0,0,0,58,0,0,0,58
39,47,Solar energy,0,0,0,52,0,0,0,53
40,48,Wind energy,0,0,0,55,0,0,0,55
41,49,Uranium,0,"3,127",0,0,0,0,0,"3,127"
42,50,Energy residuals,0,352,272,"1,336",1,0,0,"1,960"
43,51,Total supply (gross),73,"24,782","1,715","2,823",5,0,1,"29,402"
44,52,Total supply (net),..,..,..,..,..,..,..,..
45,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,54,Physical Use,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,55,NaN,Production (incl. Household own account) & gen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,56,NaN,Industries (ANZSIC),NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,57,Input or product,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services (a),Total industries
50,58,Energy from natural inputs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,59,Black coal,0,"12,370",0,0,0,0,0,"12,370"
52,60,Brown coal,0,0,0,473,0,0,0,473
53,61,Met Coke,0,0,0,0,0,0,0,0
54,62,Coal by-products,0,0,0,0,0,0,0,0
55,63,Briquettes,0,0,0,0,0,0,0,0
56,64,Natural gas,0,"4,824",0,0,0,0,0,"4,824"
57,65,LNG,0,0,0,0,0,0,0,0
58,66,Crude oil and feedstocks,0,589,0,0,0,0,0,589
59,67,Petrol,0,0,0,0,0,0,0,0

In [49]:
gross_physup4 = gross_physup4.drop(gross_physup4.index[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,42,43,44,45,46,47,48]])

In [50]:
gross_physup4.reset_index(level=None, drop=False, inplace=True, col_level=0, col_fill='')

In [51]:
gross_physup4.head(50)

,level_0,index,Australian Bureau of Statistics,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services,Total industries
0,21,29,Production of energy products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22,30,Black coal,0,"12,370",0,0,0,0,0,"12,370"
2,23,31,Brown coal,0,0,0,473,0,0,0,473
3,24,32,Met Coke,0,0,68,0,0,0,0,68
4,25,33,Coal by-products,0,0,44,0,0,0,0,44
5,26,34,Briquettes,0,0,0,0,0,0,0,0
6,27,35,Natural gas,0,"4,824",0,0,0,0,0,"4,824"
7,28,36,LNG,0,"3,376",0,0,0,0,0,"3,376"
8,29,37,Crude oil and feedstocks,0,589,0,0,0,0,0,589
9,30,38,Petrol,0,0,390,0,0,0,0,390
10,31,39,Diesel,0,0,355,0,0,0,0,355
11,32,40,Other refined fuels and products,0,0,399,0,0,0,0,399
12,33,41,LPG,0,82,30,0,0,0,0,112
13,34,42,Biofuels,0,0,11,13,0,0,0,23
14,35,43,Wood and wood waste,73,0,21,0,0,0,0,94
15,36,44,Bagasse,0,0,100,0,0,0,0,100
16,37,45,Electricity,0,61,24,838,4,0,1,930
17,38,46,Hydro energy,0,0,0,58,0,0,0,58
18,39,47,Solar energy,0,0,0,52,0,0,0,53
19,40,48,Wind energy,0,0,0,55,0,0,0,55
20,41,49,Uranium,0,"3,127",0,0,0,0,0,"3,127"
21,49,57,Input or product,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services (a),Total industries
22,50,58,Energy from natural inputs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,51,59,Black coal,0,"12,370",0,0,0,0,0,"12,370"
24,52,60,Brown coal,0,0,0,473,0,0,0,473
25,53,61,Met Coke,0,0,0,0,0,0,0,0
26,54,62,Coal by-products,0,0,0,0,0,0,0,0
27,55,63,Briquettes,0,0,0,0,0,0,0,0
28,56,64,Natural gas,0,"4,824",0,0,0,0,0,"4,824"
29,57,65,LNG,0,0,0,0,0,0,0,0
30,58,66,Crude oil and feedstocks,0,589,0,0,0,0,0,589
31,59,67,Petrol,0,0,0,0,0,0,0,0
32,60,68,Diesel,0,0,0,0,0,0,0,0
33,61,69,Other refined fuels and products,0,0,0,0,0,0,0,0
34,62,70,LPG,0,82,30,0,0,0,0,112
35,63,71,Biofuels,0,0,11,13,0,0,0,23
36,64,72,Wood and wood waste,73,0,21,0,0,0,0,94
37,65,73,Bagasse,0,0,100,0,0,0,0,100
38,66,74,Electricity,0,0,0,0,0,0,0,0
39,67,75,Hydro energy,0,0,0,58,0,0,0,58
40,68,76,Solar energy,0,0,0,52,0,0,0,53
41,69,77,Wind energy,0,0,0,55,0,0,0,55
42,70,78,Uranium,0,"3,127",0,0,0,0,0,"3,127"
43,71,79,Transformation of energy products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,72,80,Black coal,0,4,115,"1,164",0,0,0,"1,284"
45,73,81,Brown coal,0,0,0,473,0,0,0,473
46,74,82,Met Coke,0,0,0,0,0,0,0,50
47,75,83,Coal by-products,0,0,0,0,0,0,0,39
48,76,84,Briquettes,0,0,0,0,0,0,0,0
49,77,85,Natural gas,0,"3,776",35,358,4,0,0,"4,175"

In [52]:
gross_physup4 = gross_physup4.drop(columns=['index', 'level_0'])

In [53]:
gross_physup4.tail(60)

,Australian Bureau of Statistics,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services,Total industries
28,Natural gas,0,"4,824",0,0,0,0,0,"4,824"
29,LNG,0,0,0,0,0,0,0,0
30,Crude oil and feedstocks,0,589,0,0,0,0,0,589
31,Petrol,0,0,0,0,0,0,0,0
32,Diesel,0,0,0,0,0,0,0,0
33,Other refined fuels and products,0,0,0,0,0,0,0,0
34,LPG,0,82,30,0,0,0,0,112
35,Biofuels,0,0,11,13,0,0,0,23
36,Wood and wood waste,73,0,21,0,0,0,0,94
37,Bagasse,0,0,100,0,0,0,0,100
38,Electricity,0,0,0,0,0,0,0,0
39,Hydro energy,0,0,0,58,0,0,0,58
40,Solar energy,0,0,0,52,0,0,0,53
41,Wind energy,0,0,0,55,0,0,0,55
42,Uranium,0,"3,127",0,0,0,0,0,"3,127"
43,Transformation of energy products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Black coal,0,4,115,"1,164",0,0,0,"1,284"
45,Brown coal,0,0,0,473,0,0,0,473
46,Met Coke,0,0,0,0,0,0,0,50
47,Coal by-products,0,0,0,0,0,0,0,39
48,Briquettes,0,0,0,0,0,0,0,0
49,Natural gas,0,"3,776",35,358,4,0,0,"4,175"
50,LNG,0,0,0,0,0,0,0,0
51,Crude oil and feedstocks,0,0,"1,081",0,0,0,0,"1,081"
52,Petrol,0,0,0,0,0,0,0,0
53,Diesel,0,8,3,10,1,0,0,22
54,Other refined fuels and products,0,0,144,3,1,0,0,148
55,LPG,0,0,0,0,0,0,0,0
56,Biofuels,0,0,0,15,0,0,0,17
57,Wood and wood waste,0,0,0,17,0,0,0,17
58,Bagasse,0,0,84,17,0,0,0,100
59,Electricity,0,0,0,0,0,0,0,0
60,Hydro energy,0,0,0,57,0,0,0,57
61,Solar energy,0,0,0,3,0,0,0,4
62,Wind energy,0,0,0,55,0,0,0,55
63,Uranium,0,0,0,0,0,0,0,0
64,End use of energy products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Black coal,0,0,105,0,0,0,0,105
66,Brown coal,0,0,0,0,0,0,0,0
67,Met Coke,0,0,0,0,0,0,0,8
68,Coal by-products,0,0,0,0,0,0,0,0
69,Briquettes,0,0,0,0,0,0,0,0
70,Natural gas,1,122,383,7,0,11,67,592
71,LNG,0,0,0,0,0,0,0,0
72,Crude oil and feedstocks,0,1,51,1,0,0,0,53
73,Petrol,7,0,0,1,18,8,29,70
74,Diesel,99,281,30,17,109,260,82,880
75,Other refined fuels and products,0,5,38,3,0,371,0,417
76,LPG,2,1,5,0,2,3,6,20
77,Biofuels,0,0,0,0,0,6,0,7
78,Wood and wood waste,0,0,28,0,0,0,0,29
79,Bagasse,0,0,0,0,0,0,0,0
80,Electricity,8,137,290,113,7,17,153,724
81,Hydro energy,0,0,0,0,0,0,0,0
82,Solar energy,0,0,0,0,0,0,0,0
83,Wind energy,0,0,0,0,0,0,0,0
84,Uranium,0,0,0,0,0,0,0,0
85,Energy residuals,..,..,..,..,..,..,..,..
86,Total use (gross),190,"25,332","2,663","2,965",141,677,338,"32,307"
87,Total use (net),117,550,946,142,135,677,337,"2,904"

In [54]:
production_gross_physup = gross_physup4.iloc[1:21]

In [55]:
production_gross_physup

,Australian Bureau of Statistics,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services,Total industries
1,Black coal,0,"12,370",0,0,0,0,0,"12,370"
2,Brown coal,0,0,0,473,0,0,0,473
3,Met Coke,0,0,68,0,0,0,0,68
4,Coal by-products,0,0,44,0,0,0,0,44
5,Briquettes,0,0,0,0,0,0,0,0
6,Natural gas,0,"4,824",0,0,0,0,0,"4,824"
7,LNG,0,"3,376",0,0,0,0,0,"3,376"
8,Crude oil and feedstocks,0,589,0,0,0,0,0,589
9,Petrol,0,0,390,0,0,0,0,390
10,Diesel,0,0,355,0,0,0,0,355
11,Other refined fuels and products,0,0,399,0,0,0,0,399
12,LPG,0,82,30,0,0,0,0,112
13,Biofuels,0,0,11,13,0,0,0,23
14,Wood and wood waste,73,0,21,0,0,0,0,94
15,Bagasse,0,0,100,0,0,0,0,100
16,Electricity,0,61,24,838,4,0,1,930
17,Hydro energy,0,0,0,58,0,0,0,58
18,Solar energy,0,0,0,52,0,0,0,53
19,Wind energy,0,0,0,55,0,0,0,55
20,Uranium,0,"3,127",0,0,0,0,0,"3,127"

In [56]:
production_gross_physup.to_csv('cleandata/gross_prod_energy_products.csv', index = False)

In [57]:
energy_from_nat_inputs = gross_physup4.iloc[23:43]

In [58]:
energy_from_nat_inputs

,Australian Bureau of Statistics,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services,Total industries
23,Black coal,0,"12,370",0,0,0,0,0,"12,370"
24,Brown coal,0,0,0,473,0,0,0,473
25,Met Coke,0,0,0,0,0,0,0,0
26,Coal by-products,0,0,0,0,0,0,0,0
27,Briquettes,0,0,0,0,0,0,0,0
28,Natural gas,0,"4,824",0,0,0,0,0,"4,824"
29,LNG,0,0,0,0,0,0,0,0
30,Crude oil and feedstocks,0,589,0,0,0,0,0,589
31,Petrol,0,0,0,0,0,0,0,0
32,Diesel,0,0,0,0,0,0,0,0
33,Other refined fuels and products,0,0,0,0,0,0,0,0
34,LPG,0,82,30,0,0,0,0,112
35,Biofuels,0,0,11,13,0,0,0,23
36,Wood and wood waste,73,0,21,0,0,0,0,94
37,Bagasse,0,0,100,0,0,0,0,100
38,Electricity,0,0,0,0,0,0,0,0
39,Hydro energy,0,0,0,58,0,0,0,58
40,Solar energy,0,0,0,52,0,0,0,53
41,Wind energy,0,0,0,55,0,0,0,55
42,Uranium,0,"3,127",0,0,0,0,0,"3,127"

In [59]:
energy_from_nat_inputs.to_csv('cleandata/gross_energy_from_nat_inputs.csv', index = False)

In [60]:
transform_energy_prod = gross_physup4.iloc[44:64]

In [61]:
transform_energy_prod

,Australian Bureau of Statistics,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services,Total industries
44,Black coal,0,4,115,"1,164",0,0,0,"1,284"
45,Brown coal,0,0,0,473,0,0,0,473
46,Met Coke,0,0,0,0,0,0,0,50
47,Coal by-products,0,0,0,0,0,0,0,39
48,Briquettes,0,0,0,0,0,0,0,0
49,Natural gas,0,"3,776",35,358,4,0,0,"4,175"
50,LNG,0,0,0,0,0,0,0,0
51,Crude oil and feedstocks,0,0,"1,081",0,0,0,0,"1,081"
52,Petrol,0,0,0,0,0,0,0,0
53,Diesel,0,8,3,10,1,0,0,22
54,Other refined fuels and products,0,0,144,3,1,0,0,148
55,LPG,0,0,0,0,0,0,0,0
56,Biofuels,0,0,0,15,0,0,0,17
57,Wood and wood waste,0,0,0,17,0,0,0,17
58,Bagasse,0,0,84,17,0,0,0,100
59,Electricity,0,0,0,0,0,0,0,0
60,Hydro energy,0,0,0,57,0,0,0,57
61,Solar energy,0,0,0,3,0,0,0,4
62,Wind energy,0,0,0,55,0,0,0,55
63,Uranium,0,0,0,0,0,0,0,0

In [62]:
transform_energy_prod.to_csv('cleandata/gross_transform_end_prods.csv', index = False)

In [63]:
gross_end_use_energy_prod = gross_physup4.iloc[65:85]

In [64]:
gross_end_use_energy_prod

,Australian Bureau of Statistics,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,"Transport, storage and services",Commercial and Services,Total industries
65,Black coal,0,0,105,0,0,0,0,105
66,Brown coal,0,0,0,0,0,0,0,0
67,Met Coke,0,0,0,0,0,0,0,8
68,Coal by-products,0,0,0,0,0,0,0,0
69,Briquettes,0,0,0,0,0,0,0,0
70,Natural gas,1,122,383,7,0,11,67,592
71,LNG,0,0,0,0,0,0,0,0
72,Crude oil and feedstocks,0,1,51,1,0,0,0,53
73,Petrol,7,0,0,1,18,8,29,70
74,Diesel,99,281,30,17,109,260,82,880
75,Other refined fuels and products,0,5,38,3,0,371,0,417
76,LPG,2,1,5,0,2,3,6,20
77,Biofuels,0,0,0,0,0,6,0,7
78,Wood and wood waste,0,0,28,0,0,0,0,29
79,Bagasse,0,0,0,0,0,0,0,0
80,Electricity,8,137,290,113,7,17,153,724
81,Hydro energy,0,0,0,0,0,0,0,0
82,Solar energy,0,0,0,0,0,0,0,0
83,Wind energy,0,0,0,0,0,0,0,0
84,Uranium,0,0,0,0,0,0,0,0

In [65]:
gross_end_use_energy_prod.to_csv('cleandata/gross_gross_end_use_energy_prod.csv', index = False)

## CLEANING CSV 6 -> EmploymentStateGender.csv

In [66]:
gender6

,Nov-1984,Males,Sydney (old standards) [1960-1991],"Agriculture, Forestry and Fishing",7.20540351,0.92076481,389.0630359,11.77411412,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0,184.71542,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nov-1984,Males,Sydney (old standards) [1960-1991],Manufacturing,196.5095135,6.15599104,7933.446386,141.8141274,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nov-1984,Males,Sydney (old standards) [1960-1991],"Electricity, Gas, Water and Waste Services",31.56465294,0.04663942,1100.614505,0.75462698,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nov-1984,Males,Sydney (old standards) [1960-1991],Construction,83.52781017,4.12374458,3237.722582,53.2673068,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nov-1984,Males,Sydney (old standards) [1960-1991],Wholesale Trade,66.03758645,1.91253015,2782.794626,37.9611791,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74941,Feb-2020,Females,Australian Capital Territory,Public Administration and Safety,31.59241812,7.27855118,1119.969894,162.8422464,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74942,Feb-2020,Females,Australian Capital Territory,Education and Training,7.78986142,6.4857304,280.5702172,113.922326,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74943,Feb-2020,Females,Australian Capital Territory,Health Care and Social Assistance,8.74328108,9.75860676,325.8593648,190.2113864,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74944,Feb-2020,Females,Australian Capital Territory,Arts and Recreation Services,0.91012106,0.23499235,34.56118896,2.34992352,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74945,Feb-2020,Females,Australian Capital Territory,Other Services,1.75410767,2.13947016,63.97337326,41.51651602,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# gender6 = gender6.drop(columns=['Unnamed: 6','Unnamed: 7','Unnamed: 8',
#     'Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17',
#     'Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'])

In [82]:
gender6.head(10)

,Nov-1984,Males,Sydney (old standards) [1960-1991],"Agriculture, Forestry and Fishing",7.20540351,0.92076481,389.0630359,11.77411412,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0,184.71542,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nov-1984,Males,Sydney (old standards) [1960-1991],Manufacturing,196.5095135,6.15599104,7933.446386,141.8141274,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nov-1984,Males,Sydney (old standards) [1960-1991],"Electricity, Gas, Water and Waste Services",31.56465294,0.04663942,1100.614505,0.75462698,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nov-1984,Males,Sydney (old standards) [1960-1991],Construction,83.52781017,4.12374458,3237.722582,53.2673068,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nov-1984,Males,Sydney (old standards) [1960-1991],Wholesale Trade,66.03758645,1.91253015,2782.794626,37.9611791,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Nov-1984,Males,Sydney (old standards) [1960-1991],Retail Trade,61.6775274,8.68964279,2865.270644,93.64117562,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Nov-1984,Males,Sydney (old standards) [1960-1991],Accommodation and Food Services,28.4479959,5.14825873,1425.508666,75.97982856,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Nov-1984,Males,Sydney (old standards) [1960-1991],"Transport, Postal and Warehousing",74.47825617,3.08810112,2897.159306,63.58913202,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Nov-1984,Males,Sydney (old standards) [1960-1991],Information Media and Telecommunications,27.69093098,1.74243077,1065.716633,21.38155614,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Nov-1984,Males,Sydney (old standards) [1960-1991],Financial and Insurance Services,35.9961552,2.5938078,1362.242993,47.2259951,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
gender6 = gender6.rename(columns={
    "Nov-1984":"Date",
    "Males":"Sex",
    "Sydney (old standards) [1960-1991]":"Location",
    "Agriculture, Forestry and Fishing":"Industry division of main job",
    "7.20540351":"Employed full-time ('000)",
    "0.92076481":"Employed part-time ('000)",
})

In [85]:
gender6.head(1)

,Date,Sex,Location,Industry division of main job,Employed full-time ('000),Employed part-time ('000),389.0630359,11.77411412,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0,184.71542,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
gender6 = gender6.drop(columns=['389.0630359','11.77411412','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'])

In [87]:
gender6

,Date,Sex,Location,Industry division of main job,Employed full-time ('000),Employed part-time ('000)
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0
1,Nov-1984,Males,Sydney (old standards) [1960-1991],Manufacturing,196.5095135,6.15599104
2,Nov-1984,Males,Sydney (old standards) [1960-1991],"Electricity, Gas, Water and Waste Services",31.56465294,0.04663942
3,Nov-1984,Males,Sydney (old standards) [1960-1991],Construction,83.52781017,4.12374458
4,Nov-1984,Males,Sydney (old standards) [1960-1991],Wholesale Trade,66.03758645,1.91253015
...,...,...,...,...,...,...
74941,Feb-2020,Females,Australian Capital Territory,Public Administration and Safety,31.59241812,7.27855118
74942,Feb-2020,Females,Australian Capital Territory,Education and Training,7.78986142,6.4857304
74943,Feb-2020,Females,Australian Capital Territory,Health Care and Social Assistance,8.74328108,9.75860676
74944,Feb-2020,Females,Australian Capital Territory,Arts and Recreation Services,0.91012106,0.23499235
74945,Feb-2020,Females,Australian Capital Territory,Other Services,1.75410767,2.13947016

In [88]:
gender6['Sex'].unique()

array(['Males', 'Females'], dtype=object)

In [89]:
gender6['Industry division of main job'].unique()

array(['Mining', 'Manufacturing',
       'Electricity, Gas, Water and Waste Services', 'Construction',
       'Wholesale Trade', 'Retail Trade',
       'Accommodation and Food Services',
       'Transport, Postal and Warehousing',
       'Information Media and Telecommunications',
       'Financial and Insurance Services',
       'Rental, Hiring and Real Estate Services',
       'Professional, Scientific and Technical Services',
       'Administrative and Support Services',
       'Public Administration and Safety', 'Education and Training',
       'Health Care and Social Assistance',
       'Arts and Recreation Services', 'Other Services',
       'Agriculture, Forestry and Fishing'], dtype=object)

In [90]:
gender6 = gender6[gender6['Industry division of main job'].str.contains('Mining','Electricity, Gas, Water and Waste Services')]

In [ ]:
wanted_years = ('2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018')

In [92]:
gender6 = gender6[gender6['Date'].str.contains('2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018')]

TypeError: contains() takes from 2 to 6 positional arguments but 18 were given

In [91]:
gender6

,Date,Sex,Location,Industry division of main job,Employed full-time ('000),Employed part-time ('000)
0,Nov-1984,Males,Sydney (old standards) [1960-1991],Mining,4.8325305,0
19,Nov-1984,Males,Balance of New South Wales (old standards) [19...,Mining,23.3158189,0.683753
38,Nov-1984,Males,Melbourne (old standards) [1960-1991],Mining,2.9196725,0.2068462
57,Nov-1984,Males,Balance of Victoria (old standards) [1960-1991],Mining,2.069849,0
76,Nov-1984,Males,Brisbane (old standards) [1960-1991],Mining,3.5890868,0
...,...,...,...,...,...,...
74835,Feb-2020,Females,Greater Perth,Mining,15.51262524,0.78978566
74854,Feb-2020,Females,Rest of WA,Mining,4.2021882,1.48418985
74890,Feb-2020,Females,Rest of Tas.,Mining,0.104005,0.09207643
74909,Feb-2020,Females,Northern Territory,Mining,0.22795477,0
74928,Feb-2020,Females,Australian Capital Territory,Mining,0.17949213,0

In [78]:
# gender6['Location'].unique()

In [79]:
# gender6 = gender6.replace('Sydney (old standards) [1960-1991]', '0')
# gender6 = gender6.replace('Balance of New South Wales (old standards) [1960-1991]', '0')
# gender6 = gender6.replace('       'Melbourne (old standards) [1960-1991]',', '0')
# gender6 = gender6.replace('       'Balance of Victoria (old standards) [1960-1991]',
# ', '0')
# gender6 = gender6.replace('       'Brisbane (old standards) [1960-1991]',
# ', '0')
# # gender6 = gender6.replace('       'Balance of Queensland (old standards) [1960-1991]',
# ', '0')
# gender6 = gender6.replace('Sydney (old standards) [1960-1991]', '0')
# gender6 = gender6.replace('Sydney (old standards) [1960-1991]', '0')
# gender6 = gender6.replace('Sydney (old standards) [1960-1991]', '0')
# gender6 = gender6.replace('Sydney (old standards) [1960-1991]', '0')

## CLEANING CSV 7 -> NetSup20172018.csv